backend/scripts/make_blueprints/Bill - Plan Reminder.blueprint.json
{
    "name": "Bill - Plan Reminder",
    "flow": [
        {
            "id": 1,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "date_tomorrow",
                "scope": "roundtrip",
                "value": "{{formatDate(addDays(now; 1); \"DD/MM/YYYY\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Bill - Plan Reminder | Set Monday Date "
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "date_tomorrow",
                        "label": "date_tomorrow",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "sheetId": "Plans_Weeks",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "filter": [
                    [
                        {
                            "a": "K",
                            "o": "text:equal",
                            "b": "{{1.date_tomorrow}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Bill - Plan Reminder | Get Week ID"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "66Fish (66fishmarket@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Plans_Weeks"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "week_id (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "plan_id (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "block_id (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "client_id (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "week_number (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "week_type (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "primary_focus (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "secondary_focus (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "intensity_pattern (I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "notes (J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "week_start_date (K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "week_end_date (L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "week_status (M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "(AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "(AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "(AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "(AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "(AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "(AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "(AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "(AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "(AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "(AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "(AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "(AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "(AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "(AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "(AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "(AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "(AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "(AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "(AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "(AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "(AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "(AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "(AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "(AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "(AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "(AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "(BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "(BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "(BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "(BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "(BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "(BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "(BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "(BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "(BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "(BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "(BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "(BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "(BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "(BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "(BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "(BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "(BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "(BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "(BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "(BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "(BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "(BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "(BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "(BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "(BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "(BZ)",
                        "type": "text"
                    },
                    {
                        "name": "78",
                        "label": "(CA)",
                        "type": "text"
                    },
                    {
                        "name": "79",
                        "label": "(CB)",
                        "type": "text"
                    },
                    {
                        "name": "80",
                        "label": "(CC)",
                        "type": "text"
                    },
                    {
                        "name": "81",
                        "label": "(CD)",
                        "type": "text"
                    },
                    {
                        "name": "82",
                        "label": "(CE)",
                        "type": "text"
                    },
                    {
                        "name": "83",
                        "label": "(CF)",
                        "type": "text"
                    },
                    {
                        "name": "84",
                        "label": "(CG)",
                        "type": "text"
                    },
                    {
                        "name": "85",
                        "label": "(CH)",
                        "type": "text"
                    },
                    {
                        "name": "86",
                        "label": "(CI)",
                        "type": "text"
                    },
                    {
                        "name": "87",
                        "label": "(CJ)",
                        "type": "text"
                    },
                    {
                        "name": "88",
                        "label": "(CK)",
                        "type": "text"
                    },
                    {
                        "name": "89",
                        "label": "(CL)",
                        "type": "text"
                    },
                    {
                        "name": "90",
                        "label": "(CM)",
                        "type": "text"
                    },
                    {
                        "name": "91",
                        "label": "(CN)",
                        "type": "text"
                    },
                    {
                        "name": "92",
                        "label": "(CO)",
                        "type": "text"
                    },
                    {
                        "name": "93",
                        "label": "(CP)",
                        "type": "text"
                    },
                    {
                        "name": "94",
                        "label": "(CQ)",
                        "type": "text"
                    },
                    {
                        "name": "95",
                        "label": "(CR)",
                        "type": "text"
                    },
                    {
                        "name": "96",
                        "label": "(CS)",
                        "type": "text"
                    },
                    {
                        "name": "97",
                        "label": "(CT)",
                        "type": "text"
                    },
                    {
                        "name": "98",
                        "label": "(CU)",
                        "type": "text"
                    },
                    {
                        "name": "99",
                        "label": "(CV)",
                        "type": "text"
                    },
                    {
                        "name": "100",
                        "label": "(CW)",
                        "type": "text"
                    },
                    {
                        "name": "101",
                        "label": "(CX)",
                        "type": "text"
                    },
                    {
                        "name": "102",
                        "label": "(CY)",
                        "type": "text"
                    },
                    {
                        "name": "103",
                        "label": "(CZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "limit": "1",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "sheetId": "Plans_Steps",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "filter": [
                    [
                        {
                            "a": "C",
                            "o": "text:equal",
                            "b": "{{2.`0`}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Bill - Plan Reminder | Search for Exercises"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "66Fish (66fishmarket@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Plans_Steps"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "step_id (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "session_id (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "week_id (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "block_id (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "client_id (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "step_order (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "segment_type (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "step_type (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "duration_type (I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "duration_value (J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "target_type (K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "target_value (L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "exercise_name (M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "sets (N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "reps (O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "load_kg (P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "rest_seconds (Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "notes_coach (R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "notes_athlete (S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "status (T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "pattern_type (U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "load_start_kg (V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "load_increment_kg (W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "load_peak_kg (X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "reps_pattern (Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "rpe_pattern (Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "tempo_pattern (AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "tempo_per_set_pattern (AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "pattern_notes (AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "interval_count (AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "interval_work_sec (AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "interval_rest_sec (AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "intensity_start (AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "intensity_end (AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "actual_set1_reps (AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "actual_set2_reps (AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "actual_set3_reps (AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "actual_set4_reps (AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "actual_set5_reps (AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "actual_set6_reps (AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "actual_set7_reps (AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "actual_set8_reps (AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "actual_set9_reps (AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "actual_set10_reps (AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "actual_set1_value (AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "actual_set2_value (AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "actual_set3_value (AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "actual_set4_value (AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "actual_set5_value (AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "actual_set6_value (AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "actual_set7_value (AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "actual_set8_value (AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "actual_set9_value (BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "actual_set10_value (BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "actual_set1_metric (BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "actual_set2_metric (BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "actual_set3_metric (BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "actual_set4_metric (BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "actual_set5_metric (BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "actual_set6_metric (BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "actual_set7_metric (BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "actual_set8_metric (BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "actual_set9_metric (BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "actual_set10_metric (BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "actual_set1_rpe (BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "actual_set2_rpe (BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "actual_set3_rpe (BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "actual_set4_rpe (BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "actual_set5_rpe (BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "actual_set6_rpe (BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "actual_set7_rpe (BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "actual_set8_rpe (BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "actual_set9_rpe (BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "actual_set10_rpe (BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "actual_top_set_value (BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "actual_top_set_metric (BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "actual_top_set_reps (BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "actual_top_set_rpe (BZ)",
                        "type": "text"
                    },
                    {
                        "name": "78",
                        "label": "metric_key (CA)",
                        "type": "text"
                    },
                    {
                        "name": "79",
                        "label": "metric_context_key (CB)",
                        "type": "text"
                    },
                    {
                        "name": "80",
                        "label": "better_value (CC)",
                        "type": "text"
                    },
                    {
                        "name": "81",
                        "label": "completed_timestamp (CD)",
                        "type": "text"
                    },
                    {
                        "name": "82",
                        "label": "bests_processed_at (CE)",
                        "type": "text"
                    },
                    {
                        "name": "83",
                        "label": "(CF)",
                        "type": "text"
                    },
                    {
                        "name": "84",
                        "label": "(CG)",
                        "type": "text"
                    },
                    {
                        "name": "85",
                        "label": "(CH)",
                        "type": "text"
                    },
                    {
                        "name": "86",
                        "label": "(CI)",
                        "type": "text"
                    },
                    {
                        "name": "87",
                        "label": "(CJ)",
                        "type": "text"
                    },
                    {
                        "name": "88",
                        "label": "(CK)",
                        "type": "text"
                    },
                    {
                        "name": "89",
                        "label": "(CL)",
                        "type": "text"
                    },
                    {
                        "name": "90",
                        "label": "(CM)",
                        "type": "text"
                    },
                    {
                        "name": "91",
                        "label": "(CN)",
                        "type": "text"
                    },
                    {
                        "name": "92",
                        "label": "(CO)",
                        "type": "text"
                    },
                    {
                        "name": "93",
                        "label": "(CP)",
                        "type": "text"
                    },
                    {
                        "name": "94",
                        "label": "(CQ)",
                        "type": "text"
                    },
                    {
                        "name": "95",
                        "label": "(CR)",
                        "type": "text"
                    },
                    {
                        "name": "96",
                        "label": "(CS)",
                        "type": "text"
                    },
                    {
                        "name": "97",
                        "label": "(CT)",
                        "type": "text"
                    },
                    {
                        "name": "98",
                        "label": "(CU)",
                        "type": "text"
                    },
                    {
                        "name": "99",
                        "label": "(CV)",
                        "type": "text"
                    },
                    {
                        "name": "100",
                        "label": "(CW)",
                        "type": "text"
                    },
                    {
                        "name": "101",
                        "label": "(CX)",
                        "type": "text"
                    },
                    {
                        "name": "102",
                        "label": "(CY)",
                        "type": "text"
                    },
                    {
                        "name": "103",
                        "label": "(CZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "filter": {
                                "name": "No Steps for the new week",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`__IMTLENGTH__`}}",
                                            "o": "number:equal",
                                            "b": "0"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING",
                                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "sheetId": "Clients",
                                "includesHeaders": true,
                                "tableFirstRow": "A1:CZ1",
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "o": "text:equal",
                                            "b": "{{2.`3`}}"
                                        }
                                    ]
                                ],
                                "sortOrder": "asc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150,
                                    "name": "Bill - Plan Reminder | Find Client"
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "66Fish (66fishmarket@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "from": {
                                            "label": "Select from My Drive"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        },
                                        "spreadsheetId": {
                                            "mode": "chose",
                                            "label": "Bill D'Bettabody System Core"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Clients"
                                        },
                                        "includesHeaders": {
                                            "mode": "chose",
                                            "label": "Yes"
                                        },
                                        "tableFirstRow": {
                                            "label": "A-CZ"
                                        },
                                        "orderBy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "sortOrder": {
                                            "mode": "chose",
                                            "label": "Ascending"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "select",
                                        "label": "Column range",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "A1:Z1",
                                                "A1:BZ1",
                                                "A1:CZ1",
                                                "A1:DZ1",
                                                "A1:MZ1",
                                                "A1:ZZ1",
                                                "A1:AZZ1",
                                                "A1:BZZ1",
                                                "A1:CZZ1",
                                                "A1:DZZ1",
                                                "A1:MZZ1",
                                                "A1:ZZZ1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order by"
                                    },
                                    {
                                        "name": "sortOrder",
                                        "type": "select",
                                        "label": "Sort order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "label": "Total number of bundles",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "label": "Bundle order position",
                                        "type": "uinteger"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "label": "Row number",
                                        "type": "number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "label": "Spreadsheet ID",
                                        "type": "text"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "label": "Sheet",
                                        "type": "text"
                                    },
                                    {
                                        "name": "0",
                                        "label": "client_id (A)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "1",
                                        "label": "first_name (B)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "2",
                                        "label": "last_name (C)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "3",
                                        "label": "email (D)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "4",
                                        "label": "timezone (E)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "5",
                                        "label": "sex (F)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "6",
                                        "label": "age_years (G)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "7",
                                        "label": "height_cm (H)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "8",
                                        "label": "weight_kg (I)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "9",
                                        "label": "waist_circumference_cm (J)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "10",
                                        "label": "training_experience (K)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "11",
                                        "label": "primary_background (L)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "12",
                                        "label": "last_trained_date (M)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "13",
                                        "label": "typical_sessions_per_week_last_3_months (N)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "14",
                                        "label": "cardio_fitness_level (O)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "15",
                                        "label": "strength_level (P)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "16",
                                        "label": "movement_quality (Q)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "17",
                                        "label": "goals (R)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "18",
                                        "label": "goal_primary (S)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "19",
                                        "label": "goal_secondary (T)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "20",
                                        "label": "goal_tertiary (U)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "21",
                                        "label": "goal_timeframe_months (V)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "22",
                                        "label": "schedule (W)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "23",
                                        "label": "equipment (X)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "24",
                                        "label": "equipment_home (Y)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "25",
                                        "label": "equipment_gym (Z)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "26",
                                        "label": "equipment_preference (AA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "27",
                                        "label": "has_pool (AB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "28",
                                        "label": "has_track_or_safe_run (AC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "29",
                                        "label": "gym_travel_time_minutes (AD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "30",
                                        "label": "chronic_contraindications (AE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "31",
                                        "label": "injuries (AF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "32",
                                        "label": "risk_summary (AG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "33",
                                        "label": "diet_style (AH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "34",
                                        "label": "calorie_target (AI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "35",
                                        "label": "protein_min (AJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "36",
                                        "label": "supplements (AK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "37",
                                        "label": "sleep_quality (AL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "38",
                                        "label": "stress_level (AM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "39",
                                        "label": "work_pattern (AN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "40",
                                        "label": "family_responsibilities (AO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "41",
                                        "label": "watch_platform (AP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "42",
                                        "label": "watch_user_id (AQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "43",
                                        "label": "preferences (AR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "44",
                                        "label": "notes (AS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "45",
                                        "label": "last_profile_update (AT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "46",
                                        "label": "home_location (AU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "47",
                                        "label": "upcoming_travel (AV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "48",
                                        "label": "understands_tempo (AW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "49",
                                        "label": "understands_loading_patterns (AX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "50",
                                        "label": "detail_level_preference (AY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "51",
                                        "label": "(AZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "52",
                                        "label": "(BA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "53",
                                        "label": "(BB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "54",
                                        "label": "(BC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "55",
                                        "label": "(BD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "56",
                                        "label": "(BE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "57",
                                        "label": "(BF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "58",
                                        "label": "(BG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "59",
                                        "label": "(BH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "60",
                                        "label": "(BI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "61",
                                        "label": "(BJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "62",
                                        "label": "(BK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "63",
                                        "label": "(BL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "64",
                                        "label": "(BM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "65",
                                        "label": "(BN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "66",
                                        "label": "(BO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "67",
                                        "label": "(BP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "68",
                                        "label": "(BQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "69",
                                        "label": "(BR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "70",
                                        "label": "(BS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "71",
                                        "label": "(BT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "72",
                                        "label": "(BU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "73",
                                        "label": "(BV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "74",
                                        "label": "(BW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "75",
                                        "label": "(BX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "76",
                                        "label": "(BY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "77",
                                        "label": "(BZ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "78",
                                        "label": "(CA)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "79",
                                        "label": "(CB)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "80",
                                        "label": "(CC)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "81",
                                        "label": "(CD)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "82",
                                        "label": "(CE)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "83",
                                        "label": "(CF)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "84",
                                        "label": "(CG)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "85",
                                        "label": "(CH)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "86",
                                        "label": "(CI)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "87",
                                        "label": "(CJ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "88",
                                        "label": "(CK)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "89",
                                        "label": "(CL)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "90",
                                        "label": "(CM)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "91",
                                        "label": "(CN)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "92",
                                        "label": "(CO)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "93",
                                        "label": "(CP)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "94",
                                        "label": "(CQ)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "95",
                                        "label": "(CR)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "96",
                                        "label": "(CS)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "97",
                                        "label": "(CT)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "98",
                                        "label": "(CU)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "99",
                                        "label": "(CV)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "100",
                                        "label": "(CW)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "101",
                                        "label": "(CX)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "102",
                                        "label": "(CY)",
                                        "type": "text"
                                    },
                                    {
                                        "name": "103",
                                        "label": "(CZ)",
                                        "type": "text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6619256,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "to": [
                                    "{{5.`3`}}"
                                ],
                                "subject": "Your Reminder to get Bill to Generate a Training Plan for Next Week",
                                "contentType": "html",
                                "attachments": [],
                                "cc": [],
                                "bcc": [],
                                "from": "",
                                "sender": "",
                                "replyTo": "",
                                "inReplyTo": "",
                                "references": [],
                                "priority": "normal",
                                "headers": [],
                                "html": " <!DOCTYPE html>\r\n  <html lang=\"en\">\r\n  <head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>Time to plan your week — Bill D'Bettabody</title>\r\n  </head>\r\n  <body style=\"margin:0;padding:0;background-color:#111111;font-family:-apple-system,BlinkMacSystemFont,'Segoe\r\n  UI',Roboto,sans-serif;\">\r\n\r\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#111111;padding:40px 16px;\">\r\n      <tr>\r\n        <td align=\"center\">\r\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:520px;\">\r\n\r\n            <!-- Header -->\r\n            <tr>\r\n              <td style=\"padding-bottom:32px;text-align:center;\">\r\n                <div\r\n  style=\"font-size:13px;font-weight:700;letter-spacing:0.15em;text-transform:uppercase;color:#D2691E;\">\r\n                  Bill D'Bettabody\r\n                </div>\r\n              </td>\r\n            </tr>\r\n\r\n            <!-- Card -->\r\n            <tr>\r\n              <td style=\"background-color:#1e1e1e;border-radius:16px;border:1px solid rgba(210,105,30,0.25);padding:36px\r\n   32px;\">\r\n\r\n                <!-- Greeting -->\r\n                <p style=\"margin:0 0 8px 0;font-size:22px;font-weight:700;color:#f5f5f5;line-height:1.3;\">\r\n                  Hi {{5.`1`}},\r\n                </p>\r\n\r\n                <!-- Divider accent -->\r\n                <div style=\"width:40px;height:3px;background-color:#D2691E;border-radius:2px;margin:16px 0 24px\r\n  0;\"></div>\r\n\r\n                <!-- Body -->\r\n                <p style=\"margin:0 0 16px 0;font-size:16px;line-height:1.7;color:#d0d0d0;\">\r\n                  This is a gentle reminder that you haven't chatted with Bill about your training plan for the upcoming\r\n   week.\r\n                </p>\r\n                <p style=\"margin:0 0 32px 0;font-size:16px;line-height:1.7;color:#d0d0d0;\">\r\n                  When you get a moment, open up a chat and talk through what you'd like to get done — and flag any\r\n  concerns or niggles he should know about before he puts the week together.\r\n                </p>\r\n\r\n                <!-- CTA Button -->\r\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\r\n                  <tr>\r\n                    <td align=\"center\">\r\n                      <a href=\"https://billdbettabody.netlify.app\"\r\n                         style=\"display:inline-block;background:linear-gradient(135deg,#D2691E,#B8560F);color:#ffffff;te\r\n  xt-decoration:none;font-size:16px;font-weight:700;padding:16px\r\n  40px;border-radius:50px;letter-spacing:0.03em;box-shadow:0 4px 16px rgba(210,105,30,0.35);\">\r\n                        Chat with Bill →\r\n                      </a>\r\n                    </td>\r\n                  </tr>\r\n                </table>\r\n\r\n              </td>\r\n            </tr>\r\n\r\n            <!-- Footer -->\r\n            <tr>\r\n              <td style=\"padding-top:28px;text-align:center;\">\r\n                <p style=\"margin:0;font-size:12px;color:#555555;line-height:1.6;\">\r\n                  You're receiving this because you're a Bill D'Bettabody client.<br>\r\n                  If your week is already sorted, ignore this — Bill's got eyes on it.\r\n                </p>\r\n              </td>\r\n            </tr>\r\n\r\n          </table>\r\n        </td>\r\n      </tr>\r\n    </table>\r\n\r\n  </body>\r\n  </html>\n"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Microsoft SMTP/IMAP OAuth connection (mattygee123@hotmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "microsoft-smtp-imap"
                                            }
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "type": "array",
                                        "label": "References",
                                        "spec": {
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true,
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "label": "Key",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "Steps Found",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`__IMTLENGTH__`}}",
                                            "o": "number:greater",
                                            "b": "0"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}