backend/scripts/make_blueprints/Bill - Issue Log Updater.blueprint.json
{
    "name": "Bill - Issue Log Updater",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3731932,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "B-Issues | Webhook Trigger"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Bill Issue Updater"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "v_now_ts",
                        "value": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                    },
                    {
                        "name": "v_client_id",
                        "value": "{{ifempty(trim(1.client_id); \"no_client\")}}"
                    },
                    {
                        "name": "v_source",
                        "value": "{{ifempty(trim(1.source); \"bill\")}}"
                    },
                    {
                        "name": "v_issue_type",
                        "value": "{{trim(1.issue_type)}}"
                    },
                    {
                        "name": "v_entity_type",
                        "value": "{{trim(1.entity_type)}}"
                    },
                    {
                        "name": "v_entity_id",
                        "value": "{{ifempty(trim(1.entity_id); )}}"
                    },
                    {
                        "name": "v_description",
                        "value": "{{trim(1.description)}}"
                    },
                    {
                        "name": "v_context",
                        "value": "{{ifempty(trim(1.context); )}}"
                    },
                    {
                        "name": "v_suggested_action",
                        "value": "{{ifempty(trim(1.suggested_action); )}}"
                    },
                    {
                        "name": "v_priority",
                        "value": "{{ifempty(trim(1.priority); )}}"
                    },
                    {
                        "name": "v_status",
                        "value": "{{ifempty(trim(1.status); \"open\")}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "B-Issues | Normalizing Variables"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "v_now_ts",
                        "type": "any",
                        "label": "v_now_ts"
                    },
                    {
                        "name": "v_client_id",
                        "type": "any",
                        "label": "v_client_id"
                    },
                    {
                        "name": "v_source",
                        "type": "any",
                        "label": "v_source"
                    },
                    {
                        "name": "v_issue_type",
                        "type": "any",
                        "label": "v_issue_type"
                    },
                    {
                        "name": "v_entity_type",
                        "type": "any",
                        "label": "v_entity_type"
                    },
                    {
                        "name": "v_entity_id",
                        "type": "any",
                        "label": "v_entity_id"
                    },
                    {
                        "name": "v_description",
                        "type": "any",
                        "label": "v_description"
                    },
                    {
                        "name": "v_context",
                        "type": "any",
                        "label": "v_context"
                    },
                    {
                        "name": "v_suggested_action",
                        "type": "any",
                        "label": "v_suggested_action"
                    },
                    {
                        "name": "v_priority",
                        "type": "any",
                        "label": "v_priority"
                    },
                    {
                        "name": "v_status",
                        "type": "any",
                        "label": "v_status"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "v_dedupe_key",
                        "value": "{{lower(ifempty(2.v_client_id; \"no_client\") + \"|\" + 2.v_issue_type + \"|\" + 2.v_entity_type + \"|\" + ifempty(2.v_entity_id; \"no_entity\"))}}"
                    },
                    {
                        "name": "v_context_append",
                        "value": "[{{2.v_now_ts}}] {{2.v_source}}: {{ifempty(2.v_context; \"(no context provided)\")}}"
                    },
                    {
                        "name": "v_email_subject",
                        "value": "Bill Issues_Log: {{2.v_issue_type}} | {{ifempty(2.v_client_id; \"no_client\")}} | {{2.v_entity_type}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "B-Issues | Helper Variables"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "v_dedupe_key",
                        "type": "any",
                        "label": "v_dedupe_key"
                    },
                    {
                        "name": "v_context_append",
                        "type": "any",
                        "label": "v_context_append"
                    },
                    {
                        "name": "v_email_subject",
                        "type": "any",
                        "label": "v_email_subject"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "D",
                            "b": "{{lower(2.v_issue_type)}}",
                            "o": "text:equal:ci"
                        },
                        {
                            "a": "E",
                            "b": "{{lower(2.v_entity_type)}}",
                            "o": "text:equal:ci"
                        },
                        {
                            "a": "B",
                            "b": "{{lower(2.v_client_id)}}",
                            "o": "text:equal:ci"
                        },
                        {
                            "a": "F",
                            "b": "{{2.v_entity_id}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ],
                "sheetId": "Issues_Log",
                "sortOrder": "asc",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "B-Issues | Find Open Match"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Issues_Log"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Timestamp (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "client_id (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "source (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "issue_type (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "entity_type (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "entity_id (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "description (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "context (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "suggested_action (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "status (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "priority (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "B-Issues | Create V Update"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "filter": {
                                "name": "Update",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{2.v_now_ts}}",
                                    "1": "{{2.v_client_id}}",
                                    "2": "{{2.v_source}}",
                                    "3": "{{2.v_issue_type}}",
                                    "4": "{{2.v_entity_type}}",
                                    "5": "{{2.v_entity_id}}",
                                    "6": "{{if(length(trim(4.`6`)) > 0; 4.`6`; 2.v_description)}}",
                                    "7": "{{if(length(trim(4.`7`)) > 0; 4.`7` + \"\\n\" + 3.v_context_append; 3.v_context_append)}}",
                                    "8": "{{if(length(trim(4.`8`)) > 0; 4.`8`; 2.v_suggested_action)}}",
                                    "9": "{{if(length(trim(2.v_status)) > 0; 2.v_status; 4.`9`)}}",
                                    "10": "{{if(length(trim(2.v_priority)) > 0; 2.v_priority; 4.`10`)}}\r\n"
                                },
                                "sheetId": "Issues_Log",
                                "rowNumber": "{{4.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -150,
                                    "name": "B-Issues | Update an Issue"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Issues_Log"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bill D'Bettabody",
                                                "Bill D'Bettabody System Core"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Timestamp (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "client_id (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "source (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "issue_type (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "entity_type (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "entity_id (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "description (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "context (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "suggested_action (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "status (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "priority (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "(AB)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "66Fish (66fishmarket@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Timestamp (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "client_id (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "source (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "issue_type (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "entity_type (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "entity_id (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "description (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "context (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "suggested_action (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "status (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "priority (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "(AB)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6619256,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "66fishmarket@gmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "text": "Issue action: UPDATED\r\nTimestamp: {{2.v_now_ts}}\nClient ID: {{2.v_client_id}}\r\nIssue Type: {{2.v_issue_type}}\r\nEntity: {{2.v_entity_type}} | {{2.v_entity_id}}\r\nStatus: {{ifempty(2.v_status; \"(unchanged)\")}}\r\nPriority: {{ifempty(2.v_priority; \"(unchanged)\")}}\r\n\r\nDescription:\r\n{{if(length(trim(4.`6`)) > 0; 4.`6`; 2.v_description)}}\r\n\r\nLatest context appended:\r\n{{3.v_context_append}}\n\nSuggested action:\r\n{{if(length(trim(4.`8`)) > 0; 4.`8`; 2.v_suggested_action)}}\r\n\r\nSheet row number:\r\n{{4.__ROW_NUMBER__}}\r\n",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "{{3.v_email_subject}} | UPDATED",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": -150,
                                    "name": "B-Issues | Email Updated"
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "Plaintext"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "microsoft-smtp-imap"
                                            },
                                            "label": "My Microsoft SMTP/IMAP OAuth connection (mattygee123@hotmail.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"action\": \"updated\",\r\n  \"row_index\": \"{{4.__ROW_NUMBER__}}\",\r\n  \"timestamp\": \"{{2.v_now_ts}}\"\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": -150,
                                    "name": "B-Issues | WR Updated"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "filter": {
                                "name": "Create",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{2.v_now_ts}}",
                                    "1": "{{2.v_client_id}}",
                                    "2": "{{2.v_source}}",
                                    "3": "{{2.v_issue_type}}",
                                    "4": "{{2.v_entity_type}}",
                                    "5": "{{2.v_entity_id}}",
                                    "6": "{{2.v_description}}",
                                    "7": "{{3.v_context_append}}",
                                    "8": "{{2.v_suggested_action}}",
                                    "9": "{{2.v_status}}",
                                    "10": "{{2.v_priority}}"
                                },
                                "sheetId": "Issues_Log",
                                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150,
                                    "name": "B-Issues | Add Row"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Issues_Log"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bill D'Bettabody",
                                                "Bill D'Bettabody System Core"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Timestamp (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "client_id (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "source (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "issue_type (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "entity_type (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "entity_id (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "description (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "context (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "suggested_action (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "status (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "priority (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "(AB)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "66Fish (66fishmarket@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Timestamp (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "client_id (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "source (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "issue_type (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "entity_type (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "entity_id (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "description (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "context (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "suggested_action (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "status (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "priority (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "(AB)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "account": 6619256,
                                "saveAfterSent": false
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "66fishmarket@gmail.com"
                                ],
                                "bcc": [],
                                "from": "",
                                "text": "Issue action: CREATED\r\nTimestamp: {{2.v_now_ts}}\r\nClient ID: {{2.v_client_id}}\r\nIssue Type: {{2.v_issue_type}}\r\nEntity: {{2.v_entity_type}} | {{2.v_entity_id}}\r\nStatus: {{2.v_status}}\r\nPriority: {{ifempty(2.v_priority; \"(none)\")}}\r\n\r\nDescription:\r\n{{2.v_description}}\r\n\r\nContext:\r\n{{3.v_context_append}}\r\n\r\nSuggested action:\r\n{{2.v_suggested_action}}\r\n\r\nSheet row number:\r\n{{7.rowNumber}}\r\n",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "{{3.v_email_subject}} | CREATED",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150,
                                    "name": "B-Issue | Email Created"
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "Plaintext"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "microsoft-smtp-imap"
                                            },
                                            "label": "My Microsoft SMTP/IMAP OAuth connection (mattygee123@hotmail.com)"
                                        },
                                        "saveAfterSent": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"action\": \"created\",\r\n  \"row_index\": \"{{7.rowNumber}}\",\r\n  \"timestamp\": \"{{2.v_now_ts}}\"\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 150,
                                    "name": "Bill-Issues | WR Created"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}