backend/scripts/make_blueprints/Bill - Full Training Block Generator.blueprint.json
{
    "name": "Bill - Full Training Block Generator",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3662391,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "B-Block | webhook"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Bill Full Block Generator"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "B-Block | Action Type"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "create full block",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.plan_action}}",
                                            "b": "create_full_block",
                                            "o": "text:equal:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "plan_id_resolved",
                                "scope": "roundtrip",
                                "value": "{{if(1.plan.plan_id = \"\"; \"plan_\" + formatDate(now; \"YYYYMMDDHHmmss\") + \"_\" + 1.client.client_id; 1.plan.plan_id)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0,
                                    "name": "B-Block | Plan ID Cover"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "plan_id_resolved",
                                        "type": "any",
                                        "label": "plan_id_resolved"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "block_id",
                                "scope": "roundtrip",
                                "value": "blk_{{formatDate(now; \"YYYYMMDDHHmmss\")}}_{{1.client.client_id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "B-Block | Block ID Name"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "block_id",
                                        "type": "any",
                                        "label": "block_id"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{3.plan_id_resolved}}",
                                    "1": "{{4.block_id}}",
                                    "2": "{{1.client.client_id}}",
                                    "3": "{{1.plan.phase_name}}",
                                    "4": "{{1.plan.phase_goal}}",
                                    "5": "{{1.plan.week_start}}",
                                    "6": "{{1.plan.duration_weeks}}",
                                    "7": "{{1.plan.days_per_week}}",
                                    "8": "{{1.plan.constraints}}",
                                    "9": "{{1.plan.primary_locations}}",
                                    "10": "{{1.plan.nutrition_targets}}",
                                    "11": "{{1.plan.supplement_protocol}}",
                                    "12": "{{1.plan.notes}}",
                                    "13": "Active",
                                    "14": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                    "15": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                                },
                                "sheetId": "Plans_Blocks",
                                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "B-Block | Add Block to Sheets"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Plans_Blocks"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bill D'Bettabody",
                                                "Bill D'Bettabody System Core"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "plan_id (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "block_id (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "client_id (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "phase_name (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "phase_goal (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "week_start (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "duration_weeks (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "days_per_week (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "constraints (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "primary_locations (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "nutrition_targets (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "supplement_protocol (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "notes (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "plan_status (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "created_at (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "updated_at (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "66Fish (66fishmarket@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "plan_id (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "block_id (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "client_id (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "phase_name (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "phase_goal (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "week_start (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "duration_weeks (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "days_per_week (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "constraints (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "primary_locations (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "nutrition_targets (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "supplement_protocol (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "notes (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "plan_status (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "created_at (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "updated_at (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "builtin:BasicRepeater",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "step": "1",
                                "start": "1",
                                "repeats": "{{1.plan.duration_weeks}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "name": "B-Block | Week Repeater"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "start",
                                        "type": "number",
                                        "label": "Initial value",
                                        "required": true
                                    },
                                    {
                                        "name": "repeats",
                                        "type": "number",
                                        "label": "Repeats",
                                        "required": true,
                                        "validate": {
                                            "max": 10000,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "step",
                                        "type": "number",
                                        "label": "Step",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "week_id",
                                "scope": "roundtrip",
                                "value": "wk_{{4.block_id}}_{{7.i}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0,
                                    "name": "B-Block | Week ID Generator"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "week_id",
                                        "type": "any",
                                        "label": "week_id"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "week_start_date",
                                "scope": "roundtrip",
                                "value": "{{if(7.i - 1 = 0; formatDate(1.plan.week_start; \"YYYY-MM-DD\"); formatDate(addDays(1.plan.week_start; (7.i * 7)); \"YYYY-MM-DD\"))}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0,
                                    "name": "B-Block | Week Start Date"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "week_start_date",
                                        "type": "any",
                                        "label": "week_start_date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "week_end_date",
                                "scope": "roundtrip",
                                "value": "{{formatDate(addDays(10.week_start_date; 6); \"YYYY-MM-DD\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0,
                                    "name": "B-Block | Week End Date"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "week_end_date",
                                        "type": "any",
                                        "label": "week_end_date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{8.week_id}}",
                                    "1": "{{3.plan_id_resolved}}",
                                    "2": "{{4.block_id}}",
                                    "3": "{{1.client.client_id}}",
                                    "4": "{{7.i}}",
                                    "5": "standard",
                                    "6": "{{1.goals.primary}}",
                                    "7": "{{1.goals.secondary}}",
                                    "8": "Base",
                                    "9": "{{1.plan.notes}}",
                                    "10": "{{10.week_start_date}}",
                                    "11": "{{11.week_end_date}}",
                                    "12": "active"
                                },
                                "sheetId": "Plans_Weeks",
                                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0,
                                    "name": "B-Block | Add Weeks"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Plans_Weeks"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bill D'Bettabody",
                                                "Bill D'Bettabody System Core"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "week_id (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "plan_id (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "block_id (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "client_id (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "week_number (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "week_type (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "primary_focus (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "secondary_focus (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "intensity_pattern (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "notes (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "week_start_date (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "week_end_date (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "week_status (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "66Fish (66fishmarket@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "week_id (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "plan_id (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "block_id (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "client_id (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "week_number (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "week_type (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "primary_focus (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "secondary_focus (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "intensity_pattern (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "notes (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "week_start_date (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "week_end_date (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "week_status (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "builtin:BasicRepeater",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "step": "1",
                                "start": "1",
                                "repeats": "{{1.plan.days_per_week}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 0,
                                    "name": "B-Block | Session Repeater"
                                },
                                "restore": {},
                                "expect": [
                                    {
                                        "name": "start",
                                        "type": "number",
                                        "label": "Initial value",
                                        "required": true
                                    },
                                    {
                                        "name": "repeats",
                                        "type": "number",
                                        "label": "Repeats",
                                        "required": true,
                                        "validate": {
                                            "max": 10000,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "step",
                                        "type": "number",
                                        "label": "Step",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "session_id",
                                "scope": "roundtrip",
                                "value": "sess_{{8.week_id}}_{{12.i}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 0,
                                    "name": "B-Block | Week ID Generator"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "session_id",
                                        "type": "any",
                                        "label": "session_id"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{3.plan_id_resolved}}",
                                    "1": "{{4.block_id}}",
                                    "2": "{{1.client.client_id}}",
                                    "3": "{{7.i}}",
                                    "4": "{{8.week_id}}",
                                    "5": "{{12.i}}",
                                    "6": "{{13.session_id}}",
                                    "7": "{{1.plan.phase_name}}",
                                    "8": "{{1.plan.primary_locations}}",
                                    "9": "{{if(1.goals.primary = \"\"; 1.plan.phase_goal; 1.goals.primary)}}",
                                    "16": "{{((7.i - 1) * 1.plan.days_per_week) + 12.i}}",
                                    "19": "{{if(1.availability.default_session_minutes = \"\"; 60; 1.availability.default_session_minutes)}}",
                                    "20": "general",
                                    "21": "awaiting content"
                                },
                                "sheetId": "Plans_Sessions",
                                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 0,
                                    "name": "B-Block | Add Sessions"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Plans_Sessions"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bill D'Bettabody",
                                                "Bill D'Bettabody System Core"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "plan_id (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "block_id (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "client_id (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "week (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "week_id (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "day (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "session_id (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "phase (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "location (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "focus (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "exercises (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "macros (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "supplements (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "notes (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "session_date (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "session_day_of_week (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "session_global_number (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "intended_intensity_rpe (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "intended_hr_zone (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "estimated_duration_minutes (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "linked_sport (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "session_status (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "(AA)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "66Fish (66fishmarket@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "plan_id (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "block_id (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "client_id (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "week (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "week_id (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "day (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "session_id (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "phase (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "location (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "focus (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "exercises (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "macros (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "supplements (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "notes (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "session_date (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "session_day_of_week (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "session_global_number (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "intended_intensity_rpe (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "intended_hr_zone (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "estimated_duration_minutes (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "linked_sport (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "session_status (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "(AA)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 12
                            },
                            "mapper": {
                                "i": "{{12.i}}",
                                "week_id": "{{8.week_id}}",
                                "session_id": "{{13.session_id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3900,
                                    "y": 0,
                                    "name": "B-Block | Aggregate Steps"
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "B-Block | Session Repeater [12]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 19,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"action\": \"plan_created\",\r\n  \"client_id\": \"{{1.client.client_id}}\",\r\n  \"plan_id\": \"{{3.plan_id_resolved}}\",\r\n  \"block_id\": \"{{4.block_id}}\",\r\n  \"weeks_created\": {{1.plan.duration_weeks}},\r\n  \"sessions_created\": {{1.plan.duration_weeks * 1.plan.days_per_week}},\r\n  \"timestamp\": \"{{formatDate(now; \"YYYY-MM-DD'T'HH:mm:ss'Z'\"; \"UTC\")}}\"\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 4200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": null,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "fallback",
                                "conditions": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}