backend/scripts/make_blueprints/Bill - Injury to Client Load (webhook) real one.blueprint.json
{
    "name": "Bill - Injury to Client Load (webhook)",
    "flow": [
        {
            "id": 16,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3893986,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -319,
                    "y": -5,
                    "name": "B-InjUp | Client"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Bill - Client injury upload call",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "client_id",
                        "label": null,
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{16.`Client ID`}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ],
                "sheetId": "Clients",
                "sortOrder": "asc",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "tableFirstRow": "A1:BZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "B-InjUp | Search Clients"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Clients"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "tableFirstRow": {
                            "label": "A-BZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "client_id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "first_name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "last_name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "email (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "timezone (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "sex (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "age_years (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "height_cm (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "weight_kg (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "waist_circumference_cm (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "training_experience (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "primary_background (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "last_trained_date (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "typical_sessions_per_week_last_3_months (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "cardio_fitness_level (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "strength_level (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "movement_quality (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "goals (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "goal_primary (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "goal_secondary (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "goal_tertiary (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "goal_timeframe_months (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "schedule (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "equipment (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "equipment_home (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "equipment_gym (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "equipment_preference (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "has_pool (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "has_track_or_safe_run (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "gym_travel_time_minutes (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "chronic_contraindications (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "injuries (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "risk_summary (AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "diet_style (AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "calorie_target (AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "protein_min (AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "supplements (AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "sleep_quality (AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "stress_level (AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "work_pattern (AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "family_responsibilities (AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "watch_platform (AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "watch_user_id (AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "preferences (AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "notes (AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "last_profile_update (AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "home_location (AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "upcoming_travel (AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "understands_tempo (AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "understands_loading_patterns (AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "detail_level_preference (AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{2.`0`}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "F",
                            "b": "active",
                            "o": "text:equal:ci"
                        }
                    ]
                ],
                "sheetId": "Contraindications_Temp",
                "sortOrder": "asc",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "B-InjUp | FInd active injuries"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Contraindications_Temp"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "client_id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "date_reported (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "type (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "description (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "expected_duration (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "status (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "notes (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "date_resolved (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 6,
                "rowSeparator": "other",
                "otherRowSeparator": "; "
            },
            "mapper": {
                "value": "{{6.`1`}} | {{6.`2`}} | {{6.`3`}}| {{6.`4`}} | {{6.`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "B-InjUp | Aggregate Active Injuries"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "B-InjUp | FInd active injuries - Search Rows [6]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            },
            "flags": {
                "stopIfEmpty": true
            }
        },
        {
            "id": 10,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "B",
                            "b": "{{2.`0`}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "J",
                            "b": "active",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Contraindications_Chronic",
                "sortOrder": "asc",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "B-InjUp | Find active Chronic"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Contraindications_Chronic"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "record_id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "client_id (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "condition (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "severity (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "affected_system (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "contraindicated_movements (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "notes (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "date_added (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "last_reviewed (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "status (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 10,
                "rowSeparator": "other",
                "otherRowSeparator": "; "
            },
            "mapper": {
                "value": "{{10.`2`}} | {{10.`3`}} | {{10.`4`}} | {{10.`5`}} | {{10.`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "B-InjUp | Aggregate Active Chronic"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "B-InjUp | Find active Chronic - Search Rows [10]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            },
            "flags": {
                "stopIfEmpty": true
            }
        },
        {
            "id": 14,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "30": "{{12.text}}",
                    "31": "{{8.text}}"
                },
                "sheetId": "Clients",
                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "B-InjUp | Update contraindications"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Clients"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Bill D'Bettabody",
                                "Bill D'Bettabody System Core"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "client_id (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "first_name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "last_name (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "email (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "timezone (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "sex (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "age_years (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "height_cm (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "weight_kg (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "waist_circumference_cm (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "training_experience (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "primary_background (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "last_trained_date (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "typical_sessions_per_week_last_3_months (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "cardio_fitness_level (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "strength_level (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "movement_quality (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "goals (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "goal_primary (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "goal_secondary (T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "goal_tertiary (U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "goal_timeframe_months (V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "schedule (W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "equipment (X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "equipment_home (Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "equipment_gym (Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "equipment_preference (AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "has_pool (AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "has_track_or_safe_run (AC)"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "gym_travel_time_minutes (AD)"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "chronic_contraindications (AE)"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "injuries (AF)"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "risk_summary (AG)"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "diet_style (AH)"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "calorie_target (AI)"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "protein_min (AJ)"
                                        },
                                        {
                                            "name": "36",
                                            "type": "text",
                                            "label": "supplements (AK)"
                                        },
                                        {
                                            "name": "37",
                                            "type": "text",
                                            "label": "sleep_quality (AL)"
                                        },
                                        {
                                            "name": "38",
                                            "type": "text",
                                            "label": "stress_level (AM)"
                                        },
                                        {
                                            "name": "39",
                                            "type": "text",
                                            "label": "work_pattern (AN)"
                                        },
                                        {
                                            "name": "40",
                                            "type": "text",
                                            "label": "family_responsibilities (AO)"
                                        },
                                        {
                                            "name": "41",
                                            "type": "text",
                                            "label": "watch_platform (AP)"
                                        },
                                        {
                                            "name": "42",
                                            "type": "text",
                                            "label": "watch_user_id (AQ)"
                                        },
                                        {
                                            "name": "43",
                                            "type": "text",
                                            "label": "preferences (AR)"
                                        },
                                        {
                                            "name": "44",
                                            "type": "text",
                                            "label": "notes (AS)"
                                        },
                                        {
                                            "name": "45",
                                            "type": "text",
                                            "label": "last_profile_update (AT)"
                                        },
                                        {
                                            "name": "46",
                                            "type": "text",
                                            "label": "home_location (AU)"
                                        },
                                        {
                                            "name": "47",
                                            "type": "text",
                                            "label": "upcoming_travel (AV)"
                                        },
                                        {
                                            "name": "48",
                                            "type": "text",
                                            "label": "understands_tempo (AW)"
                                        },
                                        {
                                            "name": "49",
                                            "type": "text",
                                            "label": "understands_loading_patterns (AX)"
                                        },
                                        {
                                            "name": "50",
                                            "type": "text",
                                            "label": "detail_level_preference (AY)"
                                        },
                                        {
                                            "name": "51",
                                            "type": "text",
                                            "label": "(AZ)"
                                        },
                                        {
                                            "name": "52",
                                            "type": "text",
                                            "label": "(BA)"
                                        },
                                        {
                                            "name": "53",
                                            "type": "text",
                                            "label": "(BB)"
                                        },
                                        {
                                            "name": "54",
                                            "type": "text",
                                            "label": "(BC)"
                                        },
                                        {
                                            "name": "55",
                                            "type": "text",
                                            "label": "(BD)"
                                        },
                                        {
                                            "name": "56",
                                            "type": "text",
                                            "label": "(BE)"
                                        },
                                        {
                                            "name": "57",
                                            "type": "text",
                                            "label": "(BF)"
                                        },
                                        {
                                            "name": "58",
                                            "type": "text",
                                            "label": "(BG)"
                                        },
                                        {
                                            "name": "59",
                                            "type": "text",
                                            "label": "(BH)"
                                        },
                                        {
                                            "name": "60",
                                            "type": "text",
                                            "label": "(BI)"
                                        },
                                        {
                                            "name": "61",
                                            "type": "text",
                                            "label": "(BJ)"
                                        },
                                        {
                                            "name": "62",
                                            "type": "text",
                                            "label": "(BK)"
                                        },
                                        {
                                            "name": "63",
                                            "type": "text",
                                            "label": "(BL)"
                                        },
                                        {
                                            "name": "64",
                                            "type": "text",
                                            "label": "(BM)"
                                        },
                                        {
                                            "name": "65",
                                            "type": "text",
                                            "label": "(BN)"
                                        },
                                        {
                                            "name": "66",
                                            "type": "text",
                                            "label": "(BO)"
                                        },
                                        {
                                            "name": "67",
                                            "type": "text",
                                            "label": "(BP)"
                                        },
                                        {
                                            "name": "68",
                                            "type": "text",
                                            "label": "(BQ)"
                                        },
                                        {
                                            "name": "69",
                                            "type": "text",
                                            "label": "(BR)"
                                        },
                                        {
                                            "name": "70",
                                            "type": "text",
                                            "label": "(BS)"
                                        },
                                        {
                                            "name": "71",
                                            "type": "text",
                                            "label": "(BT)"
                                        },
                                        {
                                            "name": "72",
                                            "type": "text",
                                            "label": "(BU)"
                                        },
                                        {
                                            "name": "73",
                                            "type": "text",
                                            "label": "(BV)"
                                        },
                                        {
                                            "name": "74",
                                            "type": "text",
                                            "label": "(BW)"
                                        },
                                        {
                                            "name": "75",
                                            "type": "text",
                                            "label": "(BX)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "client_id",
                                                "first_name",
                                                "last_name",
                                                "email",
                                                "timezone",
                                                "sex",
                                                "age_years",
                                                "height_cm",
                                                "weight_kg",
                                                "waist_circumference_cm",
                                                "training_experience",
                                                "primary_background",
                                                "last_trained_date",
                                                "typical_sessions_per_week_last_3_months",
                                                "cardio_fitness_level",
                                                "strength_level",
                                                "movement_quality",
                                                "goals",
                                                "goal_primary",
                                                "goal_secondary",
                                                "goal_tertiary",
                                                "goal_timeframe_months",
                                                "schedule",
                                                "equipment",
                                                "equipment_home",
                                                "equipment_gym",
                                                "equipment_preference",
                                                "has_pool",
                                                "has_track_or_safe_run",
                                                "gym_travel_time_minutes",
                                                "chronic_contraindications",
                                                "injuries",
                                                "risk_summary",
                                                "diet_style",
                                                "calorie_target",
                                                "protein_min",
                                                "supplements",
                                                "sleep_quality",
                                                "stress_level",
                                                "work_pattern",
                                                "family_responsibilities",
                                                "watch_platform",
                                                "watch_user_id",
                                                "preferences",
                                                "notes",
                                                "last_profile_update",
                                                "home_location",
                                                "upcoming_travel",
                                                "understands_tempo",
                                                "understands_loading_patterns",
                                                "detail_level_preference"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "client_id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "first_name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "last_name (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "email (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "timezone (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "sex (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "age_years (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "height_cm (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "weight_kg (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "waist_circumference_cm (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "training_experience (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "primary_background (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "last_trained_date (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "typical_sessions_per_week_last_3_months (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "cardio_fitness_level (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "strength_level (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "movement_quality (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "goals (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "goal_primary (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "goal_secondary (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "goal_tertiary (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "goal_timeframe_months (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "schedule (W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "equipment (X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "equipment_home (Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "equipment_gym (Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "equipment_preference (AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "has_pool (AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "has_track_or_safe_run (AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "gym_travel_time_minutes (AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "chronic_contraindications (AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "injuries (AF)"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "risk_summary (AG)"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "diet_style (AH)"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "calorie_target (AI)"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "protein_min (AJ)"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "supplements (AK)"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "sleep_quality (AL)"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "stress_level (AM)"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "work_pattern (AN)"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "family_responsibilities (AO)"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "watch_platform (AP)"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "watch_user_id (AQ)"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "preferences (AR)"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "notes (AS)"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "last_profile_update (AT)"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "home_location (AU)"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "upcoming_travel (AV)"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "understands_tempo (AW)"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "understands_loading_patterns (AX)"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "detail_level_preference (AY)"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "(AZ)"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "(BA)"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "(BB)"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "(BC)"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "(BD)"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "(BE)"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "(BF)"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "(BG)"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "(BH)"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "(BI)"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "(BJ)"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "(BK)"
                            },
                            {
                                "name": "63",
                                "type": "text",
                                "label": "(BL)"
                            },
                            {
                                "name": "64",
                                "type": "text",
                                "label": "(BM)"
                            },
                            {
                                "name": "65",
                                "type": "text",
                                "label": "(BN)"
                            },
                            {
                                "name": "66",
                                "type": "text",
                                "label": "(BO)"
                            },
                            {
                                "name": "67",
                                "type": "text",
                                "label": "(BP)"
                            },
                            {
                                "name": "68",
                                "type": "text",
                                "label": "(BQ)"
                            },
                            {
                                "name": "69",
                                "type": "text",
                                "label": "(BR)"
                            },
                            {
                                "name": "70",
                                "type": "text",
                                "label": "(BS)"
                            },
                            {
                                "name": "71",
                                "type": "text",
                                "label": "(BT)"
                            },
                            {
                                "name": "72",
                                "type": "text",
                                "label": "(BU)"
                            },
                            {
                                "name": "73",
                                "type": "text",
                                "label": "(BV)"
                            },
                            {
                                "name": "74",
                                "type": "text",
                                "label": "(BW)"
                            },
                            {
                                "name": "75",
                                "type": "text",
                                "label": "(BX)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "client_id",
                                    "first_name",
                                    "last_name",
                                    "email",
                                    "timezone",
                                    "sex",
                                    "age_years",
                                    "height_cm",
                                    "weight_kg",
                                    "waist_circumference_cm",
                                    "training_experience",
                                    "primary_background",
                                    "last_trained_date",
                                    "typical_sessions_per_week_last_3_months",
                                    "cardio_fitness_level",
                                    "strength_level",
                                    "movement_quality",
                                    "goals",
                                    "goal_primary",
                                    "goal_secondary",
                                    "goal_tertiary",
                                    "goal_timeframe_months",
                                    "schedule",
                                    "equipment",
                                    "equipment_home",
                                    "equipment_gym",
                                    "equipment_preference",
                                    "has_pool",
                                    "has_track_or_safe_run",
                                    "gym_travel_time_minutes",
                                    "chronic_contraindications",
                                    "injuries",
                                    "risk_summary",
                                    "diet_style",
                                    "calorie_target",
                                    "protein_min",
                                    "supplements",
                                    "sleep_quality",
                                    "stress_level",
                                    "work_pattern",
                                    "family_responsibilities",
                                    "watch_platform",
                                    "watch_user_id",
                                    "preferences",
                                    "notes",
                                    "last_profile_update",
                                    "home_location",
                                    "upcoming_travel",
                                    "understands_tempo",
                                    "understands_loading_patterns",
                                    "detail_level_preference"
                                ]
                            ]
                        ]
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\n  \"status\": \"ok\",\n  \"action\": \"contraindications_synced\",\n  \"client_id\": \"{{16.client_id}}\",\n  \"injuries_updated\": \"{{8.text}}\",\n  \"chronic_updated\": \"{{12.text}}\",\n  \"timestamp\": \"{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}\n}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "B-InjUp | Response"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}