backend/scripts/make_blueprints/Bill - Add Chronic Condition.blueprint.json
{
    "name": "Bill - Add Chronic Condition",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3658499,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "B-Chronic | Add Condition"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Bill Chronic Condition Update"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "1": "{{1.client_id}}",
                    "2": "{{1.condition}}",
                    "3": "{{1.severity}}",
                    "4": "{{1.affected_system}}",
                    "5": "{{1.contraindicated_movements}}",
                    "6": "{{1.notes}}",
                    "7": "{{1.date_added}}",
                    "8": "{{1.last_reviewed}}",
                    "9": "{{1.status}}"
                },
                "sheetId": "Contraindications_Chronic",
                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "B-Chronic | Insert Row"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Contraindications_Chronic"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Bill D'Bettabody",
                                "Bill D'Bettabody System Core"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "record_id (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "client_id (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "condition (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "severity (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "affected_system (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "contraindicated_movements (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "notes (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "date_added (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "last_reviewed (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "status (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "record_id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "client_id (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "condition (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "severity (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "affected_system (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "contraindicated_movements (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "notes (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "date_added (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "last_reviewed (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "status (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "record_ID",
                "scope": "roundtrip",
                "value": "chr_{{formatDate(now; \"YYYYMMDDHHmmss_\" + 1.client_id)}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "B-Chronic | Create Record ID"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "record_ID",
                        "type": "any",
                        "label": "record_ID"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{3.record_ID}}"
                },
                "sheetId": "Contraindications_Chronic",
                "rowNumber": "{{2.rowNumber}}",
                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "B-Chronic | Update Condition"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Contraindications_Chronic"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Bill D'Bettabody",
                                "Bill D'Bettabody System Core"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "record_id (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "client_id (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "condition (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "severity (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "affected_system (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "contraindicated_movements (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "notes (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "date_added (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "last_reviewed (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "status (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "record_id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "client_id (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "condition (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "severity (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "affected_system (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "contraindicated_movements (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "notes (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "date_added (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "last_reviewed (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "status (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\r\n  \"logged\": true,\r\n  \"record_id\": \"{{3.record_ID}}\",\r\n  \"client_id\": \"{{1.client_id}}\"\r\n}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}