backend/scripts/make_blueprints/Bill_-_Session_Update_blueprint.json
{
    "name": "Bill - Session Update",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3693996,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "B-SessUp | grab data"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Bill Session Updater",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "client_id",
                        "label": "Client ID",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "session_id",
                        "label": "Session ID",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "session_updates",
                        "label": "Session updates",
                        "help": "",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "phase",
                                "label": "Phase",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "location",
                                "label": "Location",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "focus",
                                "label": "Focus",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "exercises",
                                "label": "Exercises",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "macros",
                                "label": "Macros",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "supplements",
                                "label": "Supplements",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "notes",
                                "label": "Notes",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "session_date",
                                "label": "Session date",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "session_day_of_week",
                                "label": "Session day of week",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "intended_intensity_rpe",
                                "label": "Intended intensity rpe",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "intended_hr_zone",
                                "label": "Intended hr zone",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "estimated_duration_minutes",
                                "label": "Estimated duration minutes",
                                "help": "",
                                "type": "number",
                                "default": null,
                                "required": false
                            },
                            {
                                "name": "linked_sport",
                                "label": "Linked sport",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "session_status",
                                "label": "Session status",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "session_summary",
                                "label": "Session summary",
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "required": false
                    },
                    {
                        "name": "steps_upsert",
                        "label": "Steps upsert",
                        "help": "",
                        "type": "array",
                        "spec": {
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "step_id",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "step_order",
                                    "label": null,
                                    "help": "",
                                    "type": "number",
                                    "default": null,
                                    "required": false
                                },
                                {
                                    "name": "segment_type",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "step_type",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "duration_type",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "duration_value",
                                    "label": null,
                                    "help": "",
                                    "type": "number",
                                    "default": null,
                                    "required": false
                                },
                                {
                                    "name": "target_type",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "target_value",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "exercise_name",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "sets",
                                    "label": null,
                                    "help": "",
                                    "type": "number",
                                    "default": null,
                                    "required": false
                                },
                                {
                                    "name": "reps",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "load_kg",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "rest_seconds",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "notes_coach",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "notes_athlete",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "pattern_type",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "load_start_kg",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "load_increment_kg",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "load_peak_kg",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "reps_pattern",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "rpe_pattern",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "tempo_pattern",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "tempo_per_set_pattern",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "pattern_notes",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "interval_count",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "interval_work_sec",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "interval_rest_sec",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "intensity_start",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "intensity_end",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "status",
                                    "label": null,
                                    "help": "",
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                }
                            ],
                            "required": false
                        },
                        "required": false
                    },
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "limit": "1",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "sheetId": "Plans_Sessions",
                "includesHeaders": true,
                "tableFirstRow": "A1:BZ1",
                "filter": [
                    [
                        {
                            "a": "G",
                            "o": "text:equal:ci",
                            "b": "{{1.session_id}}"
                        },
                        {
                            "a": "C",
                            "o": "text:equal:ci",
                            "b": "{{1.client_id}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "B-SessUp | Find Session"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "66Fish (66fishmarket@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Plans_Sessions"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-BZ"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "plan_id (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "block_id (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "client_id (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "week (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "week_id (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "day (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "session_id (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "phase (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "location (I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "focus (J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "exercises (K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "macros (L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "supplements (M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "notes (N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "session_date (O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "session_day_of_week (P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "session_global_number (Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "intended_intensity_rpe (R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "intended_hr_zone (S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "estimated_duration_minutes (T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "linked_sport (U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "session_status (V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "google_form_url (W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "session_summary (X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "session_notes (Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "(AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "(AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "(AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "(AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "(AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "(AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "(AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "(AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "(AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "(AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "(AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "(AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "(AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "(AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "(AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "(AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "(AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "(AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "(AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "(AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "(AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "(AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "(AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "(AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "(AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "(AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "(BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "(BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "(BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "(BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "(BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "(BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "(BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "(BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "(BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "(BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "(BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "(BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "(BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "(BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "(BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "(BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "(BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "(BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "(BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "(BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "(BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "(BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "(BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "(BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "(BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "(BZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "sheetId": "Plans_Sessions",
                "rowNumber": "{{2.`__ROW_NUMBER__`}}",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "values": {
                    "7": "{{ifempty(1.session_updates.phase; 2.`7`)}}",
                    "8": "{{ifempty(1.session_updates.location; 2.`8`)}}",
                    "9": "{{ifempty(1.session_updates.focus; 2.`9`)}}",
                    "10": "{{ifempty(1.session_updates.exercises; 2.`10`)}}",
                    "11": "{{ifempty(1.session_updates.macros; 2.`11`)}}",
                    "12": "{{ifempty(1.session_updates.supplements; 2.`12`)}}",
                    "13": "{{ifempty(1.session_updates.notes; 2.`13`)}}",
                    "14": "{{ifempty(1.session_updates.session_date; 2.`14`)}}",
                    "15": "{{ifempty(1.session_updates.session_day_of_week; 2.`15`)}}",
                    "17": "{{ifempty(1.session_updates.intended_intensity_rpe; 2.`17`)}}",
                    "18": "{{ifempty(1.session_updates.intended_hr_zone; 2.`18`)}}",
                    "19": "{{ifempty(1.session_updates.estimated_duration_minutes; 2.`19`)}}",
                    "20": "{{ifempty(1.session_updates.linked_sport; 2.`20`)}}",
                    "21": "{{ifempty(1.session_updates.session_status; 2.`21`)}}",
                    "23": "{{ifempty(1.session_updates.session_summary; 2.`23`)}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "B-SessUp | Update Session"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "66Fish (66fishmarket@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Bill D'Bettabody",
                                "Bill D'Bettabody System Core"
                            ]
                        },
                        "sheetId": {
                            "label": "Plans_Sessions"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values in columns",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "plan_id (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "block_id (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "client_id (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "week (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "week_id (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "day (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "session_id (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "phase (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "location (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "focus (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "exercises (K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "macros (L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "supplements (M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "notes (N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "session_date (O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "session_day_of_week (P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "session_global_number (Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "intended_intensity_rpe (R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "intended_hr_zone (S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "estimated_duration_minutes (T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "linked_sport (U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "session_status (V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "google_form_url (W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "session_summary (X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "session_notes (Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "26",
                                            "label": "(AA)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "27",
                                            "label": "(AB)",
                                            "type": "text"
                                        }
                                    ],
                                    "metadata": [
                                        [
                                            [
                                                "plan_id",
                                                "block_id",
                                                "client_id",
                                                "week",
                                                "week_id",
                                                "day",
                                                "session_id",
                                                "phase",
                                                "location",
                                                "focus",
                                                "exercises",
                                                "macros",
                                                "supplements",
                                                "notes",
                                                "session_date",
                                                "session_day_of_week",
                                                "session_global_number",
                                                "intended_intensity_rpe",
                                                "intended_hr_zone",
                                                "estimated_duration_minutes",
                                                "linked_sport",
                                                "session_status",
                                                "google_form_url",
                                                "session_summary",
                                                "session_notes"
                                            ]
                                        ]
                                    ]
                                }
                            ],
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "plan_id",
                                    "block_id",
                                    "client_id",
                                    "week",
                                    "week_id",
                                    "day",
                                    "session_id",
                                    "phase",
                                    "location",
                                    "focus",
                                    "exercises",
                                    "macros",
                                    "supplements",
                                    "notes",
                                    "session_date",
                                    "session_day_of_week",
                                    "session_global_number",
                                    "intended_intensity_rpe",
                                    "intended_hr_zone",
                                    "estimated_duration_minutes",
                                    "linked_sport",
                                    "session_status",
                                    "google_form_url",
                                    "session_summary",
                                    "session_notes"
                                ]
                            ]
                        ],
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "plan_id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "block_id (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "client_id (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "week (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "week_id (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "day (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "session_id (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "phase (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "location (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "focus (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "exercises (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "macros (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "supplements (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "notes (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "session_date (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "session_day_of_week (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "session_global_number (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "intended_intensity_rpe (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "intended_hr_zone (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "estimated_duration_minutes (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "linked_sport (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "session_status (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "google_form_url (W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "session_summary (X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "session_notes (Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.steps_upsert}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "B-SessUp | Steps Iterator"
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{6.step_id}}",
                            "o": "text:equal:ci"
                        },
                        {
                            "a": "E",
                            "b": "{{1.client_id}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ],
                "sheetId": "Plans_Steps",
                "sortOrder": "asc",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "B-SessUp | Find Step"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Plans_Steps"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "step_id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "session_id (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "week_id (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "block_id (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "client_id (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "step_order (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "segment_type (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "step_type (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "duration_type (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "duration_value (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "target_type (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "target_value (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "exercise_name (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "sets (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "reps (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "load_kg (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "rest_seconds (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "notes_coach (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "notes_athlete (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "status (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "pattern_type (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "load_start_kg (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "load_increment_kg (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "load_peak_kg (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "reps_pattern (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "rpe_pattern (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "tempo_pattern (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "tempo_per_set_pattern (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "pattern_notes (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "interval_count (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "interval_work_sec (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "interval_rest_sec (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "intensity_start (AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "intensity_end (AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Valid Steps Only",
                "conditions": [
                    [
                        {
                            "a": "{{7.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "existing_notes_entry",
                "scope": "roundtrip",
                "value": "{{7.`18`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "B-SessUp | get athlete notes"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "existing_notes_entry",
                        "type": "any",
                        "label": "existing_notes_entry"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "new_athlete_notes",
                "scope": "roundtrip",
                "value": "{{if(length(10.existing_notes_entry) = 0 & length(6.notes_athlete) = 0; emptystring; if(length(10.existing_notes_entry) = 0; formatDate(now; \"YYYY-MM-DDTHH:mm:ss[Z]\") + \": \" + 6.notes_athlete; 7.`18` + formatDate(now; \"YYYY-MM-DDTHH:mm:ss[Z]\") + \": \" + 6.notes_athlete))}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "B-SessUp | Combined athlete notes"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "new_athlete_notes",
                        "type": "any",
                        "label": "new_athlete_notes"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "sheetId": "Plans_Steps",
                "rowNumber": "{{7.`__ROW_NUMBER__`}}",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "values": {
                    "5": "{{ifempty(6.step_order; 7.`5`)}}",
                    "6": "{{ifempty(6.segment_type; 7.`6`)}}",
                    "7": "{{ifempty(6.step_type; 7.`7`)}}",
                    "8": "{{ifempty(6.duration_type; 7.`8`)}}",
                    "9": "{{ifempty(6.duration_value; 7.`9`)}}",
                    "10": "{{ifempty(6.target_type; 7.`10`)}}",
                    "11": "{{ifempty(6.target_value; 7.`11`)}}",
                    "12": "{{ifempty(6.exercise_name; 7.`12`)}}",
                    "13": "{{ifempty(6.sets; 7.`13`)}}",
                    "14": "{{ifempty(6.reps; 7.`14`)}}",
                    "15": "{{ifempty(6.load_kg; 7.`15`)}}",
                    "16": "{{ifempty(6.rest_seconds; 7.`16`)}}",
                    "17": "{{ifempty(6.notes_coach; 7.`17`)}}",
                    "18": "{{11.new_athlete_notes}}",
                    "19": "{{ifempty(6.status; 7.`19`)}}",
                    "20": "{{ifempty(6.pattern_type; 7.`20`)}}",
                    "21": "{{ifempty(6.load_start_kg; 7.`21`)}}",
                    "22": "{{ifempty(6.load_increment_kg; 7.`22`)}}",
                    "23": "{{ifempty(6.load_peak_kg; 7.`23`)}}",
                    "24": "{{ifempty(6.reps_pattern; 7.`24`)}}",
                    "25": "{{ifempty(6.rpe_pattern; 7.`25`)}}",
                    "26": "{{ifempty(6.tempo_pattern; 7.`26`)}}",
                    "27": "{{ifempty(6.tempo_per_set_pattern; 7.`27`)}}",
                    "28": "{{ifempty(6.pattern_notes; 7.`28`)}}",
                    "29": "{{ifempty(6.interval_count; 7.`29`)}}",
                    "30": "{{ifempty(6.interval_work_sec; 7.`30`)}}",
                    "31": "{{ifempty(6.interval_rest_sec; 7.`31`)}}",
                    "32": "{{ifempty(6.intensity_start; 7.`32`)}}",
                    "33": "{{ifempty(6.intensity_end; 7.`33`)}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "B-SessUp | Update Steps"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "66Fish (66fishmarket@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Bill D'Bettabody",
                                "Bill D'Bettabody System Core"
                            ]
                        },
                        "sheetId": {
                            "label": "Plans_Steps"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values in columns",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "step_id (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "session_id (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "week_id (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "block_id (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "client_id (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "step_order (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "segment_type (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "step_type (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "duration_type (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "duration_value (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "target_type (K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "target_value (L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "exercise_name (M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "sets (N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "reps (O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "load_kg (P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "rest_seconds (Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "notes_coach (R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "notes_athlete (S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "status (T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "pattern_type (U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "load_start_kg (V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "load_increment_kg (W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "load_peak_kg (X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "reps_pattern (Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "rpe_pattern (Z)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "26",
                                            "label": "tempo_pattern (AA)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "27",
                                            "label": "tempo_per_set_pattern (AB)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "28",
                                            "label": "pattern_notes (AC)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "29",
                                            "label": "interval_count (AD)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "30",
                                            "label": "interval_work_sec (AE)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "31",
                                            "label": "interval_rest_sec (AF)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "32",
                                            "label": "intensity_start (AG)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "33",
                                            "label": "intensity_end (AH)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "34",
                                            "label": "actual_set1_reps (AI)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "35",
                                            "label": "actual_set2_reps (AJ)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "36",
                                            "label": "actual_set3_reps (AK)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "37",
                                            "label": "actual_set4_reps (AL)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "38",
                                            "label": "actual_set5_reps (AM)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "39",
                                            "label": "actual_set1_value (AN)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "40",
                                            "label": "actual_set2_value (AO)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "41",
                                            "label": "actual_set3_value (AP)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "42",
                                            "label": "actual_set4_value (AQ)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "43",
                                            "label": "actual_set5_value (AR)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "44",
                                            "label": "actual_set1_metric (AS)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "45",
                                            "label": "actual_set2_metric (AT)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "46",
                                            "label": "actual_set3_metric (AU)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "47",
                                            "label": "actual_set4_metric (AV)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "48",
                                            "label": "actual_set5_metric (AW)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "49",
                                            "label": "actual_set1_rpe (AX)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "50",
                                            "label": "actual_set2_rpe (AY)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "51",
                                            "label": "actual_set3_rpe (AZ)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "52",
                                            "label": "actual_set4_rpe (BA)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "53",
                                            "label": "actual_set5_rpe (BB)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "54",
                                            "label": "actual_top_set_value (BC)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "55",
                                            "label": "actual_top_set_metric (BD)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "56",
                                            "label": "actual_top_set_reps (BE)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "57",
                                            "label": "actual_top_set_rpe (BF)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "58",
                                            "label": "metric_key (BG)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "59",
                                            "label": "metric_context_key (BH)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "60",
                                            "label": "better_value (BI)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "61",
                                            "label": "completed_timestamp (BJ)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "62",
                                            "label": "bests_processed_at (BK)",
                                            "type": "text"
                                        }
                                    ],
                                    "metadata": [
                                        [
                                            [
                                                "step_id",
                                                "session_id",
                                                "week_id",
                                                "block_id",
                                                "client_id",
                                                "step_order",
                                                "segment_type",
                                                "step_type",
                                                "duration_type",
                                                "duration_value",
                                                "target_type",
                                                "target_value",
                                                "exercise_name",
                                                "sets",
                                                "reps",
                                                "load_kg",
                                                "rest_seconds",
                                                "notes_coach",
                                                "notes_athlete",
                                                "status",
                                                "pattern_type",
                                                "load_start_kg",
                                                "load_increment_kg",
                                                "load_peak_kg",
                                                "reps_pattern",
                                                "rpe_pattern",
                                                "tempo_pattern",
                                                "tempo_per_set_pattern",
                                                "pattern_notes",
                                                "interval_count",
                                                "interval_work_sec",
                                                "interval_rest_sec",
                                                "intensity_start",
                                                "intensity_end",
                                                "actual_set1_reps",
                                                "actual_set2_reps",
                                                "actual_set3_reps",
                                                "actual_set4_reps",
                                                "actual_set5_reps",
                                                "actual_set1_value",
                                                "actual_set2_value",
                                                "actual_set3_value",
                                                "actual_set4_value",
                                                "actual_set5_value",
                                                "actual_set1_metric",
                                                "actual_set2_metric",
                                                "actual_set3_metric",
                                                "actual_set4_metric",
                                                "actual_set5_metric",
                                                "actual_set1_rpe",
                                                "actual_set2_rpe",
                                                "actual_set3_rpe",
                                                "actual_set4_rpe",
                                                "actual_set5_rpe",
                                                "actual_top_set_value",
                                                "actual_top_set_metric",
                                                "actual_top_set_reps",
                                                "actual_top_set_rpe",
                                                "metric_key",
                                                "metric_context_key",
                                                "better_value",
                                                "completed_timestamp",
                                                "bests_processed_at"
                                            ]
                                        ]
                                    ]
                                }
                            ],
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "step_id",
                                    "session_id",
                                    "week_id",
                                    "block_id",
                                    "client_id",
                                    "step_order",
                                    "segment_type",
                                    "step_type",
                                    "duration_type",
                                    "duration_value",
                                    "target_type",
                                    "target_value",
                                    "exercise_name",
                                    "sets",
                                    "reps",
                                    "load_kg",
                                    "rest_seconds",
                                    "notes_coach",
                                    "notes_athlete",
                                    "status",
                                    "pattern_type",
                                    "load_start_kg",
                                    "load_increment_kg",
                                    "load_peak_kg",
                                    "reps_pattern",
                                    "rpe_pattern",
                                    "tempo_pattern",
                                    "tempo_per_set_pattern",
                                    "pattern_notes",
                                    "interval_count",
                                    "interval_work_sec",
                                    "interval_rest_sec",
                                    "intensity_start",
                                    "intensity_end",
                                    "actual_set1_reps",
                                    "actual_set2_reps",
                                    "actual_set3_reps",
                                    "actual_set4_reps",
                                    "actual_set5_reps",
                                    "actual_set1_value",
                                    "actual_set2_value",
                                    "actual_set3_value",
                                    "actual_set4_value",
                                    "actual_set5_value",
                                    "actual_set1_metric",
                                    "actual_set2_metric",
                                    "actual_set3_metric",
                                    "actual_set4_metric",
                                    "actual_set5_metric",
                                    "actual_set1_rpe",
                                    "actual_set2_rpe",
                                    "actual_set3_rpe",
                                    "actual_set4_rpe",
                                    "actual_set5_rpe",
                                    "actual_top_set_value",
                                    "actual_top_set_metric",
                                    "actual_top_set_reps",
                                    "actual_top_set_rpe",
                                    "metric_key",
                                    "metric_context_key",
                                    "better_value",
                                    "completed_timestamp",
                                    "bests_processed_at"
                                ]
                            ]
                        ],
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "step_id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "session_id (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "week_id (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "block_id (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "client_id (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "step_order (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "segment_type (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "step_type (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "duration_type (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "duration_value (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "target_type (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "target_value (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "exercise_name (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "sets (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "reps (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "load_kg (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "rest_seconds (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "notes_coach (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "notes_athlete (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "status (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "pattern_type (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "load_start_kg (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "load_increment_kg (W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "load_peak_kg (X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "reps_pattern (Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "rpe_pattern (Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "tempo_pattern (AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "tempo_per_set_pattern (AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "pattern_notes (AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "interval_count (AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "interval_work_sec (AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "interval_rest_sec (AF)"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "intensity_start (AG)"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "intensity_end (AH)"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "actual_set1_reps (AI)"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "actual_set2_reps (AJ)"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "actual_set3_reps (AK)"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "actual_set4_reps (AL)"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "actual_set5_reps (AM)"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "actual_set1_value (AN)"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "actual_set2_value (AO)"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "actual_set3_value (AP)"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "actual_set4_value (AQ)"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "actual_set5_value (AR)"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "actual_set1_metric (AS)"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "actual_set2_metric (AT)"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "actual_set3_metric (AU)"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "actual_set4_metric (AV)"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "actual_set5_metric (AW)"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "actual_set1_rpe (AX)"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "actual_set2_rpe (AY)"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "actual_set3_rpe (AZ)"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "actual_set4_rpe (BA)"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "actual_set5_rpe (BB)"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "actual_top_set_value (BC)"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "actual_top_set_metric (BD)"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "actual_top_set_reps (BE)"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "actual_top_set_rpe (BF)"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "metric_key (BG)"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "metric_context_key (BH)"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "better_value (BI)"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "completed_timestamp (BJ)"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "bests_processed_at (BK)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 6
            },
            "mapper": {
                "0": "{{7.`0`}}"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "B-SessUp | finish iterating"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "B-SessUp | Steps Iterator [6]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 4,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\r\n  \"status\": \"ok\",\r\n  \"action\": \"session_updated\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"session_id\": \"{{1.session_id}}\",\r\n  \"sessions_updated\": {{if(2.__IMTLENGTH__ > 0; 1; 0)}},\r\n  \"steps_requested\": {{ifempty(length(1.steps_upsert); 0)}},\r\n  \"steps_updated\": {{9.`__IMTAGGLENGTH__`}},\n\"timestamp\": \"{{formatDate(now; \"YYYY-MM-DD'T'HH:mm:ssX\")}}\"\r\n}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0,
                    "name": "B-SessUp | Respond"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}