scripts/make_blueprints/Bill - User Upsert.blueprint.json
{
    "name": "Bill - User Upsert",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3635757,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "POST/user/upsert"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6600568
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{1.client_id}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ],
                "sheetId": "Clients",
                "sortOrder": "asc",
                "spreadsheetId": "1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                "tableFirstRow": "A1:BZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "B-UsUp | Search for Existing Client"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Clients"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Bill D'Bettabody System Core"
                        },
                        "tableFirstRow": {
                            "label": "A-BZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "66Fish (66fishmarket@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "client_id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "first_name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "last_name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "email (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "timezone (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "sex (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "age_years (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "height_cm (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "weight_kg (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "waist_circumference_cm (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "training_experience (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "primary_background (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "last_trained_date (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "typical_sessions_per_week_last_3_months (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "cardio_fitness_level (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "strength_level (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "movement_quality (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "goals (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "goal_primary (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "goal_secondary (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "goal_tertiary (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "goal_timeframe_months (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "schedule (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "equipment (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "equipment_home (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "equipment_gym (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "equipment_preference (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "has_pool (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "has_track_or_safe_run (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "gym_travel_time_minutes (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "chronic_contraindications (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "injuries (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "risk_summary (AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "diet_style (AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "calorie_target (AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "protein_min (AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "supplements (AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "sleep_quality (AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "stress_level (AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "work_pattern (AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "family_responsibilities (AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "watch_platform (AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "watch_user_id (AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "preferences (AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "notes (AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "last_profile_update (AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "home_location (AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "upcoming_travel (AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "undertands_tempo (AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "understands_loading_patterns (AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "detail_level_preference (AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "chronic_old",
                        "value": "{{10.`30`}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "B-UsUp | Get old Chronic Conditions"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "chronic_old",
                        "type": "any",
                        "label": "chronic_old"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "chronic_new",
                "scope": "roundtrip",
                "value": "{{if(8.chronic_old = \"\"; 1.data.chronic_contraindications; if(1.data.chronic_contraindications = 8.chronic_old; 8.chronic_old; 8.chronic_old + \", \" + 1.data.chronic_contraindications))}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "B-UsUp | New Chronic Condition"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "chronic_new",
                        "type": "any",
                        "label": "chronic_new"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "filter": {
                                "name": "client_found",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__ROW_NUMBER__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.client_id}}",
                                    "1": "{{1.data.first_name}}",
                                    "2": "{{1.data.last_name}}",
                                    "3": "{{1.data.email}}",
                                    "4": "{{1.data.timezone}}",
                                    "5": "{{1.data.sex}}",
                                    "6": "{{1.data.age_years}}",
                                    "7": "{{1.data.height_cm}}",
                                    "8": "{{1.data.weight_kg}}",
                                    "9": "{{1.data.waist_circumference_cm}}",
                                    "10": "{{1.data.training_experience}}",
                                    "11": "{{1.data.primary_background}}",
                                    "12": "{{1.data.last_trained_date}}",
                                    "13": "{{1.data.typical_sessions_per_week_last_3_months}}",
                                    "14": "{{1.data.cardio_fitness_level}}",
                                    "15": "{{1.data.strength_level}}",
                                    "16": "{{1.data.movement_quality}}",
                                    "17": "{{1.data.goals}}",
                                    "18": "{{1.data.goal_primary}}",
                                    "19": "{{1.data.goal_secondary}}",
                                    "20": "{{1.data.goal_tertiary}}",
                                    "21": "{{1.data.goal_timeframe_months}}",
                                    "22": "{{1.data.schedule}}",
                                    "23": "{{1.data.equipment}}",
                                    "24": "{{1.data.equipment_home}}",
                                    "25": "{{1.data.equipment_gym}}",
                                    "26": "{{1.data.equipment_preference}}",
                                    "27": "{{1.data.has_pool}}",
                                    "28": "{{1.data.has_track_or_safe_run}}",
                                    "29": "{{1.data.gym_travel_time_minutes}}",
                                    "30": "{{9.chronic_new}}",
                                    "31": "{{1.data.injuries}}",
                                    "32": "{{1.data.risk_summary}}",
                                    "33": "{{1.data.diet_style}}",
                                    "34": "{{1.data.calorie_target}}",
                                    "35": "{{1.data.protein_min}}",
                                    "36": "{{1.data.supplements}}",
                                    "37": "{{1.data.sleep_quality}}",
                                    "38": "{{1.data.stress_level}}",
                                    "39": "{{1.data.work_pattern}}",
                                    "40": "{{1.data.family_responsibilities}}",
                                    "41": "{{1.data.watch_platform}}",
                                    "42": "{{1.data.watch_user_id}}",
                                    "43": "{{1.data.preferences}}",
                                    "44": "{{1.data.notes}}",
                                    "45": "{{1.data.last_profile_update}}",
                                    "46": "{{1.data.home_location}}",
                                    "47": "{{1.data.upcoming_travel}}",
                                    "48": "{{1.data.understands_tempo}}",
                                    "49": "{{1.data.understands_loading_patterns}}",
                                    "50": "{{1.data.detail_level_preference}}"
                                },
                                "sheetId": "Clients",
                                "rowNumber": "{{10.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "name": "B-UsUp | Update CLient Record"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Clients"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bill D'Bettabody",
                                                "Bill D'Bettabody System Core"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "client_id (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "first_name (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "last_name (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "email (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "timezone (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "sex (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "age_years (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "height_cm (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "weight_kg (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "waist_circumference_cm (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "training_experience (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "primary_background (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "last_trained_date (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "typical_sessions_per_week_last_3_months (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "cardio_fitness_level (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "strength_level (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "movement_quality (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "goals (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "goal_primary (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "goal_secondary (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "goal_tertiary (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "goal_timeframe_months (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "schedule (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "equipment (X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "equipment_home (Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "equipment_gym (Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "equipment_preference (AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "has_pool (AB)"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "has_track_or_safe_run (AC)"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "gym_travel_time_minutes (AD)"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "chronic_contraindications (AE)"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "injuries (AF)"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "risk_summary (AG)"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "diet_style (AH)"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "calorie_target (AI)"
                                                        },
                                                        {
                                                            "name": "35",
                                                            "type": "text",
                                                            "label": "protein_min (AJ)"
                                                        },
                                                        {
                                                            "name": "36",
                                                            "type": "text",
                                                            "label": "supplements (AK)"
                                                        },
                                                        {
                                                            "name": "37",
                                                            "type": "text",
                                                            "label": "sleep_quality (AL)"
                                                        },
                                                        {
                                                            "name": "38",
                                                            "type": "text",
                                                            "label": "stress_level (AM)"
                                                        },
                                                        {
                                                            "name": "39",
                                                            "type": "text",
                                                            "label": "work_pattern (AN)"
                                                        },
                                                        {
                                                            "name": "40",
                                                            "type": "text",
                                                            "label": "family_responsibilities (AO)"
                                                        },
                                                        {
                                                            "name": "41",
                                                            "type": "text",
                                                            "label": "watch_platform (AP)"
                                                        },
                                                        {
                                                            "name": "42",
                                                            "type": "text",
                                                            "label": "watch_user_id (AQ)"
                                                        },
                                                        {
                                                            "name": "43",
                                                            "type": "text",
                                                            "label": "preferences (AR)"
                                                        },
                                                        {
                                                            "name": "44",
                                                            "type": "text",
                                                            "label": "notes (AS)"
                                                        },
                                                        {
                                                            "name": "45",
                                                            "type": "text",
                                                            "label": "last_profile_update (AT)"
                                                        },
                                                        {
                                                            "name": "46",
                                                            "type": "text",
                                                            "label": "home_location (AU)"
                                                        },
                                                        {
                                                            "name": "47",
                                                            "type": "text",
                                                            "label": "upcoming_travel (AV)"
                                                        },
                                                        {
                                                            "name": "48",
                                                            "type": "text",
                                                            "label": "undertands_tempo (AW)"
                                                        },
                                                        {
                                                            "name": "49",
                                                            "type": "text",
                                                            "label": "understands_loading_patterns (AX)"
                                                        },
                                                        {
                                                            "name": "50",
                                                            "type": "text",
                                                            "label": "detail_level_preference (AY)"
                                                        },
                                                        {
                                                            "name": "51",
                                                            "type": "text",
                                                            "label": "(AZ)"
                                                        },
                                                        {
                                                            "name": "52",
                                                            "type": "text",
                                                            "label": "(BA)"
                                                        },
                                                        {
                                                            "name": "53",
                                                            "type": "text",
                                                            "label": "(BB)"
                                                        },
                                                        {
                                                            "name": "54",
                                                            "type": "text",
                                                            "label": "(BC)"
                                                        },
                                                        {
                                                            "name": "55",
                                                            "type": "text",
                                                            "label": "(BD)"
                                                        },
                                                        {
                                                            "name": "56",
                                                            "type": "text",
                                                            "label": "(BE)"
                                                        },
                                                        {
                                                            "name": "57",
                                                            "type": "text",
                                                            "label": "(BF)"
                                                        },
                                                        {
                                                            "name": "58",
                                                            "type": "text",
                                                            "label": "(BG)"
                                                        },
                                                        {
                                                            "name": "59",
                                                            "type": "text",
                                                            "label": "(BH)"
                                                        },
                                                        {
                                                            "name": "60",
                                                            "type": "text",
                                                            "label": "(BI)"
                                                        },
                                                        {
                                                            "name": "61",
                                                            "type": "text",
                                                            "label": "(BJ)"
                                                        },
                                                        {
                                                            "name": "62",
                                                            "type": "text",
                                                            "label": "(BK)"
                                                        },
                                                        {
                                                            "name": "63",
                                                            "type": "text",
                                                            "label": "(BL)"
                                                        },
                                                        {
                                                            "name": "64",
                                                            "type": "text",
                                                            "label": "(BM)"
                                                        },
                                                        {
                                                            "name": "65",
                                                            "type": "text",
                                                            "label": "(BN)"
                                                        },
                                                        {
                                                            "name": "66",
                                                            "type": "text",
                                                            "label": "(BO)"
                                                        },
                                                        {
                                                            "name": "67",
                                                            "type": "text",
                                                            "label": "(BP)"
                                                        },
                                                        {
                                                            "name": "68",
                                                            "type": "text",
                                                            "label": "(BQ)"
                                                        },
                                                        {
                                                            "name": "69",
                                                            "type": "text",
                                                            "label": "(BR)"
                                                        },
                                                        {
                                                            "name": "70",
                                                            "type": "text",
                                                            "label": "(BS)"
                                                        },
                                                        {
                                                            "name": "71",
                                                            "type": "text",
                                                            "label": "(BT)"
                                                        },
                                                        {
                                                            "name": "72",
                                                            "type": "text",
                                                            "label": "(BU)"
                                                        },
                                                        {
                                                            "name": "73",
                                                            "type": "text",
                                                            "label": "(BV)"
                                                        },
                                                        {
                                                            "name": "74",
                                                            "type": "text",
                                                            "label": "(BW)"
                                                        },
                                                        {
                                                            "name": "75",
                                                            "type": "text",
                                                            "label": "(BX)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "66Fish (66fishmarket@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "client_id (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "first_name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "last_name (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "email (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "timezone (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "sex (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "age_years (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "height_cm (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "weight_kg (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "waist_circumference_cm (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "training_experience (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "primary_background (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "last_trained_date (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "typical_sessions_per_week_last_3_months (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "cardio_fitness_level (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "strength_level (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "movement_quality (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "goals (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "goal_primary (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "goal_secondary (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "goal_tertiary (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "goal_timeframe_months (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "schedule (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "equipment (X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "equipment_home (Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "equipment_gym (Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "equipment_preference (AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "has_pool (AB)"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "has_track_or_safe_run (AC)"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "gym_travel_time_minutes (AD)"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "chronic_contraindications (AE)"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "injuries (AF)"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "risk_summary (AG)"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "diet_style (AH)"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "calorie_target (AI)"
                                            },
                                            {
                                                "name": "35",
                                                "type": "text",
                                                "label": "protein_min (AJ)"
                                            },
                                            {
                                                "name": "36",
                                                "type": "text",
                                                "label": "supplements (AK)"
                                            },
                                            {
                                                "name": "37",
                                                "type": "text",
                                                "label": "sleep_quality (AL)"
                                            },
                                            {
                                                "name": "38",
                                                "type": "text",
                                                "label": "stress_level (AM)"
                                            },
                                            {
                                                "name": "39",
                                                "type": "text",
                                                "label": "work_pattern (AN)"
                                            },
                                            {
                                                "name": "40",
                                                "type": "text",
                                                "label": "family_responsibilities (AO)"
                                            },
                                            {
                                                "name": "41",
                                                "type": "text",
                                                "label": "watch_platform (AP)"
                                            },
                                            {
                                                "name": "42",
                                                "type": "text",
                                                "label": "watch_user_id (AQ)"
                                            },
                                            {
                                                "name": "43",
                                                "type": "text",
                                                "label": "preferences (AR)"
                                            },
                                            {
                                                "name": "44",
                                                "type": "text",
                                                "label": "notes (AS)"
                                            },
                                            {
                                                "name": "45",
                                                "type": "text",
                                                "label": "last_profile_update (AT)"
                                            },
                                            {
                                                "name": "46",
                                                "type": "text",
                                                "label": "home_location (AU)"
                                            },
                                            {
                                                "name": "47",
                                                "type": "text",
                                                "label": "upcoming_travel (AV)"
                                            },
                                            {
                                                "name": "48",
                                                "type": "text",
                                                "label": "undertands_tempo (AW)"
                                            },
                                            {
                                                "name": "49",
                                                "type": "text",
                                                "label": "understands_loading_patterns (AX)"
                                            },
                                            {
                                                "name": "50",
                                                "type": "text",
                                                "label": "detail_level_preference (AY)"
                                            },
                                            {
                                                "name": "51",
                                                "type": "text",
                                                "label": "(AZ)"
                                            },
                                            {
                                                "name": "52",
                                                "type": "text",
                                                "label": "(BA)"
                                            },
                                            {
                                                "name": "53",
                                                "type": "text",
                                                "label": "(BB)"
                                            },
                                            {
                                                "name": "54",
                                                "type": "text",
                                                "label": "(BC)"
                                            },
                                            {
                                                "name": "55",
                                                "type": "text",
                                                "label": "(BD)"
                                            },
                                            {
                                                "name": "56",
                                                "type": "text",
                                                "label": "(BE)"
                                            },
                                            {
                                                "name": "57",
                                                "type": "text",
                                                "label": "(BF)"
                                            },
                                            {
                                                "name": "58",
                                                "type": "text",
                                                "label": "(BG)"
                                            },
                                            {
                                                "name": "59",
                                                "type": "text",
                                                "label": "(BH)"
                                            },
                                            {
                                                "name": "60",
                                                "type": "text",
                                                "label": "(BI)"
                                            },
                                            {
                                                "name": "61",
                                                "type": "text",
                                                "label": "(BJ)"
                                            },
                                            {
                                                "name": "62",
                                                "type": "text",
                                                "label": "(BK)"
                                            },
                                            {
                                                "name": "63",
                                                "type": "text",
                                                "label": "(BL)"
                                            },
                                            {
                                                "name": "64",
                                                "type": "text",
                                                "label": "(BM)"
                                            },
                                            {
                                                "name": "65",
                                                "type": "text",
                                                "label": "(BN)"
                                            },
                                            {
                                                "name": "66",
                                                "type": "text",
                                                "label": "(BO)"
                                            },
                                            {
                                                "name": "67",
                                                "type": "text",
                                                "label": "(BP)"
                                            },
                                            {
                                                "name": "68",
                                                "type": "text",
                                                "label": "(BQ)"
                                            },
                                            {
                                                "name": "69",
                                                "type": "text",
                                                "label": "(BR)"
                                            },
                                            {
                                                "name": "70",
                                                "type": "text",
                                                "label": "(BS)"
                                            },
                                            {
                                                "name": "71",
                                                "type": "text",
                                                "label": "(BT)"
                                            },
                                            {
                                                "name": "72",
                                                "type": "text",
                                                "label": "(BU)"
                                            },
                                            {
                                                "name": "73",
                                                "type": "text",
                                                "label": "(BV)"
                                            },
                                            {
                                                "name": "74",
                                                "type": "text",
                                                "label": "(BW)"
                                            },
                                            {
                                                "name": "75",
                                                "type": "text",
                                                "label": "(BX)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"action\": \"updated\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"timestamp\": \"{{now}}{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}\"\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0,
                                    "name": "B-UsUp| Update Response"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6600568
                            },
                            "filter": {
                                "name": "client_not_found",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.client_id}}",
                                    "1": "{{1.data.first_name}}",
                                    "2": "{{1.data.last_name}}",
                                    "3": "{{1.data.email}}",
                                    "4": "{{1.data.timezone}}",
                                    "5": "{{1.data.sex}}",
                                    "6": "{{1.data.age_years}}",
                                    "7": "{{1.data.height_cm}}",
                                    "8": "{{1.data.weight_kg}}",
                                    "9": "{{1.data.waist_circumference_cm}}",
                                    "10": "{{1.data.training_experience}}",
                                    "11": "{{1.data.primary_background}}",
                                    "12": "{{1.data.last_trained_date}}",
                                    "13": "{{1.data.typical_sessions_per_week_last_3_months}}",
                                    "14": "{{1.data.cardio_fitness_level}}",
                                    "15": "{{1.data.strength_level}}",
                                    "16": "{{1.data.movement_quality}}",
                                    "17": "{{1.data.goals}}",
                                    "18": "{{1.data.goal_primary}}",
                                    "19": "{{1.data.goal_secondary}}",
                                    "20": "{{1.data.goal_tertiary}}",
                                    "21": "{{1.data.goal_timeframe_months}}",
                                    "22": "{{1.data.schedule}}",
                                    "23": "{{1.data.equipment}}",
                                    "24": "{{1.data.equipment_home}}",
                                    "25": "{{1.data.equipment_gym}}",
                                    "26": "{{1.data.equipment_preference}}",
                                    "27": "{{1.data.has_pool}}",
                                    "28": "{{1.data.has_track_or_safe_run}}",
                                    "29": "{{1.data.gym_travel_time_minutes}}",
                                    "30": "{{1.data.chronic_contraindications}}",
                                    "31": "{{1.data.injuries}}",
                                    "32": "{{1.data.risk_summary}}",
                                    "33": "{{1.data.diet_style}}",
                                    "34": "{{1.data.calorie_target}}",
                                    "35": "{{1.data.protein_min}}",
                                    "36": "{{1.data.supplements}}",
                                    "37": "{{1.data.sleep_quality}}",
                                    "38": "{{1.data.stress_level}}",
                                    "39": "{{1.data.work_pattern}}",
                                    "40": "{{1.data.family_responsibilities}}",
                                    "41": "{{1.data.watch_platform}}",
                                    "42": "{{1.data.watch_user_id}}",
                                    "43": "{{1.data.preferences}}",
                                    "44": "{{1.data.notes}}",
                                    "45": "{{1.data.last_profile_update}}",
                                    "46": "{{1.data.home_location}}",
                                    "47": "{{1.data.upcoming_travel}}",
                                    "48": "{{1.data.understands_tempo}}",
                                    "49": "{{1.data.understands_loading_patterns}}",
                                    "50": "{{1.data.detail_level_preference}}"
                                },
                                "sheetId": "Clients",
                                "spreadsheetId": "/1cHXeFs6OoVJHQpImpybaFa1iet4AHlz6/1M7BWE8NaMdkS2b02QABBKwJcVDfFOft_oqwZI2zGN7I",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "B-UsUp | Create Client Record"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Clients"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Bill D'Bettabody",
                                                "Bill D'Bettabody System Core"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "client_id (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "first_name (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "last_name (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "email (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "timezone (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "sex (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "age_years (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "height_cm (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "weight_kg (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "waist_circumference_cm (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "training_experience (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "primary_background (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "last_trained_date (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "typical_sessions_per_week_last_3_months (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "cardio_fitness_level (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "strength_level (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "movement_quality (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "goals (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "goal_primary (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "goal_secondary (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "goal_tertiary (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "goal_timeframe_months (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "schedule (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "equipment (X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "equipment_home (Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "equipment_gym (Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "equipment_preference (AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "has_pool (AB)"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "has_track_or_safe_run (AC)"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "gym_travel_time_minutes (AD)"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "chronic_contraindications (AE)"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "injuries (AF)"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "risk_summary (AG)"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "diet_style (AH)"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "calorie_target (AI)"
                                                        },
                                                        {
                                                            "name": "35",
                                                            "type": "text",
                                                            "label": "protein_min (AJ)"
                                                        },
                                                        {
                                                            "name": "36",
                                                            "type": "text",
                                                            "label": "supplements (AK)"
                                                        },
                                                        {
                                                            "name": "37",
                                                            "type": "text",
                                                            "label": "sleep_quality (AL)"
                                                        },
                                                        {
                                                            "name": "38",
                                                            "type": "text",
                                                            "label": "stress_level (AM)"
                                                        },
                                                        {
                                                            "name": "39",
                                                            "type": "text",
                                                            "label": "work_pattern (AN)"
                                                        },
                                                        {
                                                            "name": "40",
                                                            "type": "text",
                                                            "label": "family_responsibilities (AO)"
                                                        },
                                                        {
                                                            "name": "41",
                                                            "type": "text",
                                                            "label": "watch_platform (AP)"
                                                        },
                                                        {
                                                            "name": "42",
                                                            "type": "text",
                                                            "label": "watch_user_id (AQ)"
                                                        },
                                                        {
                                                            "name": "43",
                                                            "type": "text",
                                                            "label": "preferences (AR)"
                                                        },
                                                        {
                                                            "name": "44",
                                                            "type": "text",
                                                            "label": "notes (AS)"
                                                        },
                                                        {
                                                            "name": "45",
                                                            "type": "text",
                                                            "label": "last_profile_update (AT)"
                                                        },
                                                        {
                                                            "name": "46",
                                                            "type": "text",
                                                            "label": "home_location (AU)"
                                                        },
                                                        {
                                                            "name": "47",
                                                            "type": "text",
                                                            "label": "upcoming_travel (AV)"
                                                        },
                                                        {
                                                            "name": "48",
                                                            "type": "text",
                                                            "label": "undertands_tempo (AW)"
                                                        },
                                                        {
                                                            "name": "49",
                                                            "type": "text",
                                                            "label": "understands_loading_patterns (AX)"
                                                        },
                                                        {
                                                            "name": "50",
                                                            "type": "text",
                                                            "label": "detail_level_preference (AY)"
                                                        },
                                                        {
                                                            "name": "51",
                                                            "type": "text",
                                                            "label": "(AZ)"
                                                        },
                                                        {
                                                            "name": "52",
                                                            "type": "text",
                                                            "label": "(BA)"
                                                        },
                                                        {
                                                            "name": "53",
                                                            "type": "text",
                                                            "label": "(BB)"
                                                        },
                                                        {
                                                            "name": "54",
                                                            "type": "text",
                                                            "label": "(BC)"
                                                        },
                                                        {
                                                            "name": "55",
                                                            "type": "text",
                                                            "label": "(BD)"
                                                        },
                                                        {
                                                            "name": "56",
                                                            "type": "text",
                                                            "label": "(BE)"
                                                        },
                                                        {
                                                            "name": "57",
                                                            "type": "text",
                                                            "label": "(BF)"
                                                        },
                                                        {
                                                            "name": "58",
                                                            "type": "text",
                                                            "label": "(BG)"
                                                        },
                                                        {
                                                            "name": "59",
                                                            "type": "text",
                                                            "label": "(BH)"
                                                        },
                                                        {
                                                            "name": "60",
                                                            "type": "text",
                                                            "label": "(BI)"
                                                        },
                                                        {
                                                            "name": "61",
                                                            "type": "text",
                                                            "label": "(BJ)"
                                                        },
                                                        {
                                                            "name": "62",
                                                            "type": "text",
                                                            "label": "(BK)"
                                                        },
                                                        {
                                                            "name": "63",
                                                            "type": "text",
                                                            "label": "(BL)"
                                                        },
                                                        {
                                                            "name": "64",
                                                            "type": "text",
                                                            "label": "(BM)"
                                                        },
                                                        {
                                                            "name": "65",
                                                            "type": "text",
                                                            "label": "(BN)"
                                                        },
                                                        {
                                                            "name": "66",
                                                            "type": "text",
                                                            "label": "(BO)"
                                                        },
                                                        {
                                                            "name": "67",
                                                            "type": "text",
                                                            "label": "(BP)"
                                                        },
                                                        {
                                                            "name": "68",
                                                            "type": "text",
                                                            "label": "(BQ)"
                                                        },
                                                        {
                                                            "name": "69",
                                                            "type": "text",
                                                            "label": "(BR)"
                                                        },
                                                        {
                                                            "name": "70",
                                                            "type": "text",
                                                            "label": "(BS)"
                                                        },
                                                        {
                                                            "name": "71",
                                                            "type": "text",
                                                            "label": "(BT)"
                                                        },
                                                        {
                                                            "name": "72",
                                                            "type": "text",
                                                            "label": "(BU)"
                                                        },
                                                        {
                                                            "name": "73",
                                                            "type": "text",
                                                            "label": "(BV)"
                                                        },
                                                        {
                                                            "name": "74",
                                                            "type": "text",
                                                            "label": "(BW)"
                                                        },
                                                        {
                                                            "name": "75",
                                                            "type": "text",
                                                            "label": "(BX)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "66Fish (66fishmarket@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "client_id (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "first_name (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "last_name (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "email (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "timezone (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "sex (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "age_years (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "height_cm (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "weight_kg (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "waist_circumference_cm (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "training_experience (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "primary_background (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "last_trained_date (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "typical_sessions_per_week_last_3_months (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "cardio_fitness_level (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "strength_level (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "movement_quality (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "goals (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "goal_primary (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "goal_secondary (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "goal_tertiary (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "goal_timeframe_months (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "schedule (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "equipment (X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "equipment_home (Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "equipment_gym (Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "equipment_preference (AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "has_pool (AB)"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "has_track_or_safe_run (AC)"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "gym_travel_time_minutes (AD)"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "chronic_contraindications (AE)"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "injuries (AF)"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "risk_summary (AG)"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "diet_style (AH)"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "calorie_target (AI)"
                                            },
                                            {
                                                "name": "35",
                                                "type": "text",
                                                "label": "protein_min (AJ)"
                                            },
                                            {
                                                "name": "36",
                                                "type": "text",
                                                "label": "supplements (AK)"
                                            },
                                            {
                                                "name": "37",
                                                "type": "text",
                                                "label": "sleep_quality (AL)"
                                            },
                                            {
                                                "name": "38",
                                                "type": "text",
                                                "label": "stress_level (AM)"
                                            },
                                            {
                                                "name": "39",
                                                "type": "text",
                                                "label": "work_pattern (AN)"
                                            },
                                            {
                                                "name": "40",
                                                "type": "text",
                                                "label": "family_responsibilities (AO)"
                                            },
                                            {
                                                "name": "41",
                                                "type": "text",
                                                "label": "watch_platform (AP)"
                                            },
                                            {
                                                "name": "42",
                                                "type": "text",
                                                "label": "watch_user_id (AQ)"
                                            },
                                            {
                                                "name": "43",
                                                "type": "text",
                                                "label": "preferences (AR)"
                                            },
                                            {
                                                "name": "44",
                                                "type": "text",
                                                "label": "notes (AS)"
                                            },
                                            {
                                                "name": "45",
                                                "type": "text",
                                                "label": "last_profile_update (AT)"
                                            },
                                            {
                                                "name": "46",
                                                "type": "text",
                                                "label": "home_location (AU)"
                                            },
                                            {
                                                "name": "47",
                                                "type": "text",
                                                "label": "upcoming_travel (AV)"
                                            },
                                            {
                                                "name": "48",
                                                "type": "text",
                                                "label": "undertands_tempo (AW)"
                                            },
                                            {
                                                "name": "49",
                                                "type": "text",
                                                "label": "understands_loading_patterns (AX)"
                                            },
                                            {
                                                "name": "50",
                                                "type": "text",
                                                "label": "detail_level_preference (AY)"
                                            },
                                            {
                                                "name": "51",
                                                "type": "text",
                                                "label": "(AZ)"
                                            },
                                            {
                                                "name": "52",
                                                "type": "text",
                                                "label": "(BA)"
                                            },
                                            {
                                                "name": "53",
                                                "type": "text",
                                                "label": "(BB)"
                                            },
                                            {
                                                "name": "54",
                                                "type": "text",
                                                "label": "(BC)"
                                            },
                                            {
                                                "name": "55",
                                                "type": "text",
                                                "label": "(BD)"
                                            },
                                            {
                                                "name": "56",
                                                "type": "text",
                                                "label": "(BE)"
                                            },
                                            {
                                                "name": "57",
                                                "type": "text",
                                                "label": "(BF)"
                                            },
                                            {
                                                "name": "58",
                                                "type": "text",
                                                "label": "(BG)"
                                            },
                                            {
                                                "name": "59",
                                                "type": "text",
                                                "label": "(BH)"
                                            },
                                            {
                                                "name": "60",
                                                "type": "text",
                                                "label": "(BI)"
                                            },
                                            {
                                                "name": "61",
                                                "type": "text",
                                                "label": "(BJ)"
                                            },
                                            {
                                                "name": "62",
                                                "type": "text",
                                                "label": "(BK)"
                                            },
                                            {
                                                "name": "63",
                                                "type": "text",
                                                "label": "(BL)"
                                            },
                                            {
                                                "name": "64",
                                                "type": "text",
                                                "label": "(BM)"
                                            },
                                            {
                                                "name": "65",
                                                "type": "text",
                                                "label": "(BN)"
                                            },
                                            {
                                                "name": "66",
                                                "type": "text",
                                                "label": "(BO)"
                                            },
                                            {
                                                "name": "67",
                                                "type": "text",
                                                "label": "(BP)"
                                            },
                                            {
                                                "name": "68",
                                                "type": "text",
                                                "label": "(BQ)"
                                            },
                                            {
                                                "name": "69",
                                                "type": "text",
                                                "label": "(BR)"
                                            },
                                            {
                                                "name": "70",
                                                "type": "text",
                                                "label": "(BS)"
                                            },
                                            {
                                                "name": "71",
                                                "type": "text",
                                                "label": "(BT)"
                                            },
                                            {
                                                "name": "72",
                                                "type": "text",
                                                "label": "(BU)"
                                            },
                                            {
                                                "name": "73",
                                                "type": "text",
                                                "label": "(BV)"
                                            },
                                            {
                                                "name": "74",
                                                "type": "text",
                                                "label": "(BW)"
                                            },
                                            {
                                                "name": "75",
                                                "type": "text",
                                                "label": "(BX)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"status\": \"ok\",\r\n  \"action\": \"created\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"timestamp\": \"{{now}}{{formatDate(now; \"YYYY-MM-DDTHH:mm:ssZ\")}}\"\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300,
                                    "name": "B-UsUp | Create Response"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}